@charset "utf-8";

/*  미수관리  */

.accountsReceivableBox{
    margin-top: 150px;
}


.stoneFree {
    display: flex;
    font-size: 28px;
    font-weight: 700;
}


.stoneFree a {
    position: relative;
}

.stoneFree a img {
    position: absolute;
    top: 5px;
}

.GIJUNDayAndJUNGRULBigBox{
    margin-top: 40px;
}

.GIJUNDayAndJUNGRULBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.GIJUNDayBox{
    display: flex;
    align-items: center;
}

.GIJUNDayBox span{
    margin-right: 15px;
    font-weight: 700;
}

.calinder{
    width: 30px;
    height: 30px;
    text-align:center;
    background-color: #f1f5f7;
    border: 1px solid rgba(153, 153, 153, 0.5);
    border-right: none;
}


.calinder img{
    width: 16px;
}


.calData{
    padding-left: 10px;
    width: 90px;
    height: 30px;
    border: 1px solid rgba(153, 153, 153, 0.5);
    font-size: 12px;
    color: #444;
    display: flex;
    align-items: center;
}

#JUNGRUL {
    margin-left: 15px;
    padding: 4px 10px 7px 10px;
    width: 92px;
    height: 32px;
    border: 1px solid rgba(153, 153, 153, 0.5);
    background: #ffffff url("../업스토어\ 분석/img/ic_arrow_drop_down_24px.png") no-repeat 91% 50%;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    font-family: Noto sans KR;
    appearance: none;
    color: rgb(133, 133, 133);
}
#JUNGRUL::-ms-expand {
    display: none;
}


#searchbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.searching {
    margin: 5px 0 5px 0;
    padding: 5px 12px 4px 8px;
    width: 100%;
    height: 38px;
    border: 1px solid #999;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#btn_searching {
    margin: 0;
    width: 38px;
    font-size: 21px;
    border-radius: 0 5px 5px 0;
    line-height: 1;
    height: 38px;
    border: none;
    font-weight: bold;
    color: #fff;
    background-color: #333;
}

#btn_searching:focus{
    box-shadow: 0 0 3px 1px #ffaa34;
    border: 1px solid #fc9300;
    outline: none;   
}


/* 표 */

.MISUBox{
    margin-top: 15px;
    margin-bottom: 152px;
    display: flex;
    justify-content: center;
    min-height: 300px;
}

.MISUBox table{
    width: 100%;
    min-width: 455px;
    font-size: 14px;
}
.MISUBox thead{
    background-color: #f1f5f7;
}

.MISUBox th{
    border: 1px solid rgba(153, 153, 153, 0.5);
}

.MISUBox td{
    border: 1px solid rgba(153, 153, 153, 0.5);
}

.overflow-x_Box{
    padding-bottom: 20px;
    overflow-x: none;
}






@media (max-width: 767px) {


    .overflow-x_Box{
        overflow-x: scroll;
    }


    .GIJUNDayAndJUNGRULBox{
        justify-content: space-between;
    }

}