@charset "utf-8";


/* 로그인 페이지 login.css */

#loginbox{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
}



#logo{
    margin: 0 auto;
    margin-bottom: 100px;
    width: 180px;
}

#logo img{
    width: 100%;
    height: 100%;
}

.idinput{
    margin-bottom: 8px;
    display:flex;
    align-items: center;

}

#id{
    width: 100%;
    height: 38px;
    border: 1px solid rgba(51, 51, 51, 0.466);
    
    border-radius: 4px;
    
}

#password{
    width: 100%;
    height: 38px;
    border: 1px solid rgba(51, 51, 51, 0.466);
    
    border-radius: 4px;

}

#id:focus{
    border:none;
    box-shadow: 0 0 0 2px #ffaa34!important;
    outline: none;
}

#password:focus{
    border:none;
    box-shadow: 0 0 0 2px #ffaa34!important;
    outline: none;
}

.titlebx{
    display: flex;
    align-items: center;
    height: 100%;
}

.titbox{
    width: 100%;
    height: 100%;

}

.titbox > label{
    width: 100%;
    height: 100%;
    text-align: left;
}


.inputtext{
    display: flex;
    align-items: center;
}

.inputbox{
    width: 100%;
}

.inputbox input{
    width: 100%;
    height: 37px;
}

.ckbox{
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 0 15px 0 15px;
    text-align: right;
}


button{
    max-width: 1200px;
    width: 100%;
    height: 38px;
    border: none;
    
    border-radius: .25rem;
    background-color: #ffaa34!important;
}

button:focus{
    
    box-shadow: 0 0 0 2px #ffaa34!important;
    outline: none;
}