@charset "utf-8";


.post-slider{
    border:1px solid red;
    
  }
  .post-slider .post-wrapper{
    width:84%;
    height:350px;
    margin:0px auto;
    border:1px dashed red;
    display:flex; align-items:center;
  }
  .post-slider .post-wrapper .post{
    width:300px;
    height:350px;
    display:inline-block;
    background:gray;
  }