extends ../base

block links 
    link(rel="stylesheet", href="/static/css/sale/salemain.css")
    link(rel="stylesheet", href="/static/css/components/footer.css")

block content 

    include ../partials/footer