extends ../base

block links 
    link(rel="stylesheet", href="/static/css/purchase/purchasemain.css")
    link(rel="stylesheet", href="/static/css/components/footer.css")

block content 
    div(class="container stonemain")
        div(class="row spaceBox")
            div(class="col-sm-6 col-12")
                div(class="stoneFree")
                    span #{pageTitle} 
                    span (전체 n개)
                    a(href="")
                        img(src="../../../../static/images/ic-info-outline-24-px.png", alt="도움")
            div(class="col-12 col-md-6 col-lg-4 stoneSavebox")
                div(class="col-5 col-md-6 col-lg-5 stoneSave")
                    button(type="button",  onclick="location=`/purchase/upload`") 매입등록
        div(class="row")
            div(class="col-sm-12 col-md-5 col-lg-3 searchMyBox")
                div(class="calinder cal1")
                    img(src="../../../../static/images/calendar.png", alt="calendar")
                div(class="calData calD1") 2021-07-13
                div(class="calinder cal2")
                    img(src="../../../../static/images/calendar.png", alt="calendar")
                div(class="calData calD2") 2021-07-13
                select(name="why_do_this" id="why_do_this") 
                    option(value="구분") 구분
                    option(value="접수일") 접수일
                    option(value="출고일") 출고일
            div(class="col-sm-12 col-md-6 col-lg-4 wichbox")
                select(name="sortselect" id="sortselect") 
                    option(value="정렬") 정렬
                    option(value="출고일") 출고일
                    option(value="접수일") 접수일
                    option(value="모델번호") 모델번호
                    option(value="사이즈") 사이즈
                select(name="Ascending" id="Ascending")
                    option(value="정렬순서") 정렬순서
                    option(value="오름차순") 오름차순 
                    option(value="내림차순") 내림차순
            div(class="col-md-12 col-lg-5")
                div(id="searchbox")
                    input(class="searching" type="text" placeholder="검색어를 입력하세요")
                    button(id="btn_searching")
                        i(class="las la-search")
        div(class="row deleteOrViewBox")
            div(class="col-md-12 col-lg-6 filterselect")
                select(name="sortselect" id="sortselect") 
                    option(value="필터") 필터
                    option(value="함량") 함량
                    option(value="색상") 색상
                    option(value="단계") 단계
                    option(value="거래처") 거래처
                    option(value="제조사") 제조사
                select(name="sortselect" id="sortselect") 
                    option(value="목록") 목록
            div(class="col-md-8 col-lg-6 deleteOrView")
                div(class="deleteMan dVBox")
                    img(src="../../../../static/images/삭제하기.png", alt="삭제하기")
                    span 삭제하기
                div(class="ViewMan dVBox")
                    select(name="page-view-counter" id="select10_50") 
                        option(value="10View") 10View
                        option(value="20View") 20View
                        option(value="30View") 30View
                        option(value="50View") 50View
    div(class="container")
        div(class="row")
            div(class="col-12")
                div(class="theTableMan")
                    table   
                        thead 
                            tr 
                                th(max-width="3%" rowspan="2") No
                                th(max-width="2%" rowspan="2") 
                                    input(name="clickAll" id="checkedAll" type="checkbox")
                                th(max-width="6%" rowspan="2") 등록일
                                th(max-width="4%" rowspan="2") 구분
                                th(max-width="7%" rowspan="2") 매입처
                                th(max-width="6%" rowspan="2") 거래No
                                th(max-width="4%" rowspan="2") 비고
                                th(max-width="4%" rowspan="2") 재질
                                th(colspan="3") 중량
                                th(max-width="3%" rowspan="2") 수량
                                th(max-width="8%" rowspan="2") 단가
                                th(max-width="8%" rowspan="2") 공급가
                                th(max-width="8%" rowspan="2") 세액
                                th(max-width="8%" rowspan="2") 합계금액
                            tr 
                                th(width="4%") 중량
                                th(width="4%") 해리
                                th(width="6%") 순금
                        tbody 
                            tr 
                                td 1
                                td 
                                    input(name="clickThis" id="clickThis" type="checkbox")
                                td  2021-07-16
                                td 매입
                                td 한국표준금거래소
                                td 00000138
                                td test
                                td 순금999
                                td 1,000.00g
                                td 1.1
                                td 1000.0000
                                td 1
                                td 17,000,000
                                td 0
                                td 0
                                td 17,000,000
                div(class="col-12 nopaddingbox")    
                    div(class="listlist")
                        span 채크된 것
                        a(href="") 반품
                        a(href="") 매입처변경
                        a(href="") 거래일변경
        div(class="col-12")
            div(class="numlist")
                div(class="numnum on")
                    span 1
    include ../partials/footer