mixin explanation(product)
        div(class="CTdisplay")
            div(class="ctsangae")
                div(class="ctsangaeBox")
                    h3 카탈로그 상세 보기
                    div(class="ctimgsangae")
                        img(src="" alt="선택된 이미지")
                        div(class="ctimgsangaedmlsangae")
                            img(src="" alt="1번이미지")
                    table
                        tbody
                            tr
                                td 모델명
                                td 표준재질
                                td 총중량
                                td 알중량
                            tr
                                td 조각 돌반지
                                td 순금995
                                td 3.75
                                td 0
                    table
                        tbody
                            tr
                                td 제조번호
                                td 제조사
                                td 재고개수
                                td 대여개수
                                td 판매개수
                            tr
                                td 
                                td 한국표준금거래소
                                td 1
                                td 0
                                td 1
                    table
                        tbody
                            tr
                                td 기본공임
                                td 추가공임
                                td 알공임
                                td 공임합계
                            tr
                                td 3,000
                                td 0
                                td 0
                                td 3,000
                    table
                        tbody
                            tr
                                td 스톤명
                                td 알수
                                td 비고
                            tr
                                td 
                                td 
                                td 
                    div(class="ctsangaeA")
                        span 닫기
                    div(class="clssbt")
                        i(class="las la-times")



