mixin orderTable(order)
        tr 
            td(style="background-color: #dbb3ff; color: steelblue;") 1
            td 선택
                input(name="clickThis" id="checkedThis" type="checkbox") 
            td 출 2021-07-23 <br> 접 2021-07-16 
            td 바르샤 <br> 00000099
            td(class="clickImg") 
            td 조각 돌반지
            td 순금995
            td 
            td 
            td 1
            td 
            td 한국표준금거래소
            td 접수