mixin quotetable(quote)
        tbody
            tr  
                td
                    input(name="clickThis" id="checkedThis" type="checkbox")
                td 1
                td #{quote.createdAt.toLocaleDateString('ko-KR')}
                td #{quote.frontquote}
                td #{quote.backquote}