mixin quotetable(quote)
        tbody
            tr  
                td
                    input(name="clickThis" id="checkedThis" type="checkbox" value=`${quote._id}`)
                td.quoteNum
                td #{quote.createdAt.toLocaleDateString('ko-KR')}
                td #{quote.frontquote}
                td #{quote.backquote}