mixin stockMainTable(product)
        tbody
            tr
                td 1
                td
                    input(name="clickThis" id="checkedThis" type="checkbox")
                td 00088604
                td 2021-07-12
                td 일반
                td
                td 조각 돌반지
                td 순금995
                td 0
                td 0
                td 0
                td 1
                td 0
                td 3,000
                td 0
                td 0
                td 0
                td 3.75
                td 3.75
                td 0
                td 3,000
                td 0