doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=pageTitle
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            ul  
                li 
                    a(href="/cataloge/upload") upload
                if loggedIn    
                    li 
                        a(href="/users/logout") logout
                    li 
                        a(href="/users/edit") #{loggedInUser.businessname}의 Profile
                else    
                    li 
                        a(href="/login") login
                    li 
                        a(href="/join") join
        main
            block content 