extends base.pug

block content 
    form(method="POST")
        input(value="등록", type="submit")
        input(name="title", placeholder="Title", required, type="text")
    form(method="POST")    
        input(name="status", type="radio", value="1", checked="checked" )
        input(name="status", type="radio", value="0")