extends base.pug
include ./mixins/clienttable

block links
    link(rel="stylesheet", href="/static/css/client.css")
    link(rel="stylesheet", href="/static/css/components/footer.css")

block scripts 
    script(src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js")

block content
    div(class="container stonemain")
        div(class="row spaceBox")
            div(class="col-md-6 col-12")
                div(class="stoneFree")
                    span #{pageTitle}
                    span (전체 n개)
                    a(href="")
                         img(src="../../../static/images/ic-info-outline-24-px.png", alt="도움")
            div(class="col-12 col-md-6 col-lg-4 stoneSavebox")
                    div(class="col-5 col-md-6 col-lg-5 stoneSave")
                        button(type="button") 등록하기
        div(class="row searchMyBox")
            div(class="col-12 col-sm-6")
                form(method="GET",class="searchbox")
                    input(class="searching", name="keyword", type="text" placeholder="검색어를 입력해주세요")
                    button(id="btn_searching") 
                        i(class="las la-search")
        div(class="row deleteOrViewBox")
            div(class="col-4 col-md-2")
                div(class="clientfilterbox")
                    select(name="cliint-view-counter" id="clientfilter")
                            option(value="구분 전체") 구분 전체   
                            option(value="판매처") 판매처   
                            option(value="매입처") 매입처   
                            option(value="기타") 기타
            div(class="col-8 col-sm-6 deleteOrView")
                div(class="deleteMan dVBox")
                    img(src="../../../static/images/삭제하기.png", alt="삭제하기")
                    span 삭제하기
                div(class="ViewMan dVBox")
                    select(name="page-view-counter" id="select10_50")
                            option(value="10View") 10View   
                            option(value="20View") 20View   
                            option(value="30View") 30View   
                            option(value="50View") 50View
    div(class="container tableStart")
        div(class="hiddenBox")
            div(class="row")
                div(class="col-12 tabletrthtd")
                    table 
                        thead 
                            tr 
                                th No 
                                th
                                    input(name="checkedAll" id="checkedAll" type="checkbox")
                                th 구분
                                th 상호명
                                th 사업체명
                                th 대표자명
                                th 대표자 연락처
                                th 연락처
                                th 팩스
                                th 통상
                                th 비고
                                th VAT
                                th 거래형태
                                th 해리
                        if clients
                            each client in clients
                                +clientTable(client)
                            else    
                                div
                        else 
                            each client in user.clients 
                                +clientTable(client)
                            else    
                                div
        div(class="row")                    
            div(class="col-12")
                div(class="changeList")
                    div(class="changed")
                        span 체크된 것
                    div(class="changed")
                        a(href="")  부가세 변경
                    div(class="changed")
                        a(href="")  거래형태 변경
                    div(class="changed")
                        a(href="")  해리 변경
        div(class="col-12")
            div(class="numlist")
                div(class="numnum on")
                    span 1
    form(method="POST", class="container")
        
        div(class="row")
            span 거래처구분*
            select(name="clientType", required)
                option(value="판매처") 판매처 
                option(value="매입처") 매입처
                option(value="기타") 기타
        
            span 상호명*
            input(type="text", name="clientName", placeholder="상호명")
        
        div(class="row")
            span 사업자
            input(type="text", name="buisnessName", placeholder="사업체")
            input(type="text", name="buisnessNumber", placeholder="사업자번호")
            input(type="text", name="representative", placeholder="대표자명")
            input(type="text", name="representativeNumber", placeholder="대표자 연락처")
        
        div(class="row")
            span 주소
            input(type="text", name="postNumber", id="sample6_postcode", placeholder="우편번호") 
            input(type="button", onclick="sample6_execDaumPostcode()", value="우편번호 찾기") 
            input(type="text", name="addressLine1", id="sample6_address", placeholder="주소") 
        
        div(class="row")
            span 옵션
            select(name="harry")
                option(value="1.10") 1.10 
                option(value="1.09") 1.09
                option(value="1.07") 1.07
                option(value="1.06") 1.06
                option(value="1.00") 1.00
            select(name="transactionType")
                option(value="중량") 중량 
                option(value="시세") 시세
            select(name="vat")
                option(value="0%") 0% 
                option(value="10%") 10%
        
        div(class="row")
            span 연락처
            input(type="text", name="phone", placeholder="전화번호")
            input(type="text", name="fax", placeholder="팩스번호")
        div(class="row")
            span 담당자
            input(type="text", name="managerName", placeholder="담당자명")
            input(type="text", name="managerNumber", placeholder="담당자연락처")
        div(class="row")
            span 통상
            input(type="text", name="commonName", placeholder="통상명")
        div(class="row")
            span 비고
            input(type="text", name="description")

        input(type="submit" value="등록")
        
    include ./partials/footer
                        