extends base.pug
include ./mixins/clienttable

block links
    link(rel="stylesheet", href="/static/css/client.css")
    link(rel="stylesheet", href="/static/css/components/footer.css")

block scripts 
    script(defer, src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js")
    script(defer, src="/assets/js/client1.js") 

block content
    div(class="container stonemain")
        div(class="row spaceBox")
            div(class="col-md-6 col-12")
                div(class="stoneFree")
                    span #{pageTitle}
                    if clients
                        span (전체 #{clients.length}개)
                    else 
                        span (전체 #{user.clients.length}개)
                    a(href="")
                         img(src="../../../static/images/ic-info-outline-24-px.png", alt="도움")
            div(class="col-12 col-md-6 col-lg-4 stoneSavebox")
                    div(class="col-5 col-md-6 col-lg-5 stoneSave")
                        button#openClient(type="button") 등록하기
        div(class="row searchMyBox")
            div(class="col-12 col-sm-6")
                form(method="GET",class="searchbox")
                    input(class="searching", name="keyword", type="text" placeholder="검색어를 입력해주세요")
                    button(id="btn_searching") 
                        i(class="las la-search")
    form(class="container tableStart" method="POST")
        div(class="row deleteOrViewBox")
            div(class="col-4 col-md-2")
                div(class="clientfilterbox")
                    select(name="cliint-view-counter" id="clientfilter")
                            option(value="구분 전체") 구분 전체   
                            option(value="판매처") 판매처   
                            option(value="매입처") 매입처   
                            option(value="기타") 기타
            div(class="col-8 col-sm-6 deleteOrView")
                div(class="deleteMan dVBox")
                    img(src="../../../static/images/삭제하기.png", alt="삭제하기")
                    button#deleteBtn(type="submit" name="deleteBtn" value="삭제하기") 삭제하기
                div(class="ViewMan dVBox")
                    select(name="page-view-counter" id="select10_50")
                            option(value="10View") 10View   
                            option(value="20View") 20View   
                            option(value="30View") 30View   
                            option(value="50View") 50View
        div(class="hiddenBox")
            div(class="row")
                div(class="col-12 tabletrthtd")
                    table 
                        thead 
                            tr 
                                th No 
                                th
                                    input(name="checkedAll" id="checkedAll" type="checkbox")
                                th 구분
                                th 상호명
                                th 사업체명
                                th 대표자명
                                th 대표자 연락처
                                th 연락처
                                th 팩스
                                th 통상
                                th 비고
                                th VAT
                                th 거래형태
                                th 해리
                        if clients
                            each client in clients
                                +clientTable(client)
                            else    
                                div
                        else 
                            each client in user.clients 
                                +clientTable(client)
                            else    
                                div
        div(class="row")                    
            div(class="col-12")
                div(class="changeList")
                    div(class="changed")
                        span 체크된 것
                    div(class="changed")
                        a(href="")  부가세 변경
                    div(class="changed")
                        a(href="")  거래형태 변경
                    div(class="changed")
                        a(href="")  해리 변경
        div(class="col-12")
            div(class="numlist")
                div(class="numnum on")
                    span 1
    form(method="POST", id="postForm" class="")
        #bgOff
        .postBox.container
            .row 
                .col-12#postT
                    .postTitle    
                        span 거래처 등록
                        .postTitle2
                            span *표시가 있는 경우 필수 입력사항입니다.반드시 입력해주세요
            .postBody    
                div(class="row")
                    .col-3.postb    
                        span 거래처구분
                        span.star *
                    .col-3.postb
                        select(name="clientType", required)
                            option(value="판매처") 판매처 
                            option(value="매입처") 매입처
                            option(value="기타") 기타
                    .col-3.postb  
                        span 상호명
                        span.star *
                    .col-3.postb  
                        input(type="text", name="clientName", placeholder="상호명")

                    .col-3.postb 
                        span 사업자
                    .col-4.postb
                        input(type="text", name="buisnessName", placeholder="사업체")
                        input(type="text", name="representative", placeholder="대표자명")
                    .col-5.postb
                        input(type="text", name="buisnessNumber", placeholder="사업자번호")
                        input(type="text", name="representativeNumber", placeholder="대표자 연락처")

                    .col-3.postb
                        span 주소
                    .col-4.postb
                        <input type="text", name="postNumber" id="sample4_postcode" placeholder="우편번호">
                    .col-2.postb
                        <input type="button" id="startingsearch" value="검색">
                    .col-3.postb
                    .col-3.postb
                    .col-9.postb.mom
                        <input type="text" name="addressLine1" id="sample4_roadAddress" placeholder="도로명주소">
                        //- <input type="text" name="addressLine2" id="sample4_jibunAddress" placeholder="지번주소">
                        <span id="guide" style="color:#999;display:none"></span>
                        <input type="text" name="addressLine3" id="sample4_detailAddress" placeholder="상세주소">
                        //- <input type="text" name="addressLine4" id="sample4_extraAddress" placeholder="참고항목">
                    .col-3.postb
                        span 옵션
                    .col-3.postb
                        select(name="harry")
                            option(value="1.10") 1.10 
                            option(value="1.09") 1.09
                            option(value="1.07") 1.07
                            option(value="1.06") 1.06
                            option(value="1.00") 1.00
                    .col-3.postb
                        select(name="transactionType")
                            option(value="중량") 중량 
                            option(value="시세") 시세
                    .col-3.postb
                        select(name="vat")
                            option(value="0%") 0% 
                            option(value="10%") 10%

                    .col-3.postb
                        span 연락처
                    .col-4.postb
                        input(type="text", name="phone", placeholder="전화번호")
                    .col-5.postb
                        input(type="text", name="fax", placeholder="팩스번호")
                    .col-3.postb
                        span 담당자
                    .col-4.postb
                        input(type="text", name="managerName", placeholder="담당자명")
                    .col-5.postb
                        input(type="text", name="managerNumber", placeholder="담당자연락처")
                    .col-3.postb
                        span 통상
                    .col-4.postb
                        input(type="text", name="commonName", placeholder="통상명")
                    .col-5.postb
                    .col-3.postb
                        span 비고
                    .col-9.postb
                        textarea(type="text" class="bigo" name="description")
            .row#clientSubmitButton
                .col-12    
                    input#removeOn(type="button" value="취소")
                    input(type="submit" name="clientSubmitBtn" value="등록")

    include ./partials/footer
                        