doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 업스토어
        link(rel="stylesheet", href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap")
        link(rel="stylesheet", href="/static/plugin/bootstrap-4.4.1-dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/static/css/reset.css")
        link(rel="stylesheet", href="/static/plugin/slick-1.8.1/slick/slick.css")
        link(rel="stylesheet", href="")
        link(rel="stylesheet", href="/static/css/home1.css")

        script(src="http://code.jquery.com/jquery-latest.min.js") 
        script(defer, src="/static/plugin/slick-1.8.1/slick/slick.min.js") 
        script(defer, src="/assets/js/home1.js") 
    body 
        div(class="top_fixed") 
            div(class="top_box") 
                h1(class="logo") 
                    a(href="") logo
                ul
                    li
                        a(href="#down") 앱 &nbsp;다운로드
                    li
                        a(href="#retail") 소매 &nbsp;서비스
                    li
                        a(href="#wholesale") 도매 &nbsp;서비스
                    li
                        a(href="#review") 리뷰
                    li
                        a(href="/login" id="colorLogin") 로그인
                div(class="ham") 
            div(class="mbmenu") 
                ul
                    li
                        a(href="/login" id="colorLogin") 로그인
                    li
                        a(href="#review") 리뷰
                    li
                        a(href="#wholesale") 도매 &nbsp;서비스
                    li
                        a(href="#retail") 소매 &nbsp;서비스
                    li
                        a(href="#down") 앱 &nbsp;다운로드
    a(href="#" id="topbtn")
        img(src="../../../static/images/top_button.png" alt="top_button")
    a(id="fix_down" href="#") 앱 다운로드
    div(class="banner")
        div(class="bannerbox")
            div(class="slider autoplay1")
                div
                    img(src="../../../static/images/1번배너.jpg" alt="1번")
                div
                    img(src="../../../static/images/2번배너.jpg" alt="2번")
                div
                    img(src="../../../static/images/3번배너.jpg" alt="3번")
    div(class="gijon1")
    





    div(class="down1")
        div(class="downbox")
            div(class="down_inbox")
                div(class="mtextbox")

                    h2 종로 주얼리타운이
                    h2 
                        span 업스토어 안에 다있다!
                
                div(class="stexybox")
                    span 국내 1위 주얼리 다이아 중개 서비스 
                    br
                    span 업스토어를 시작하세요
                

                div(class="downlink")
                    a(href="#")
                        img(src="../../../static/images/app_store.svg" alt="앱스토어")
                    
                    a(href="#")
                        img(src="../../../static/images/google_play.svg" alt="구글스토어")
                    
                

            
        
    

    //-<!-- 소매서비스 -->
    div(class="Retail1" id="retail")
        div(class="Retail1_inbox")
            div(class="Retail1_text")
                div
                    span 소매 사장님들을 위한
                
                div
                    span 업스토어
                div(class="R1_txt")
                    span 국내 1위의 주얼리,다이아몬드 
                    br
                    span 도소매 중개 서비스를 제공하고 있습니다.
            div(class="Retail1_icon")
                div(class="R1 Rbox")
                    div(class="R_img_box")
                        img(src="../../../static/images/buy.png" alt="")
                    div(class="R_textbox")
                        span 판매자와 실시간으로 
                        br
                        span 전화 및 채팅으로 
                        br
                        span 주문이 가능
                    h2 간편구매
                div(class="R2 Rbox")
                    div(class="R_img_box")
                        img(src="../../../static/images/search.png" alt="")
                    div(class="R_textbox")
                        span 찾는 제품의 사진을 
                        br
                        span 도매사장님들과 공유하여 
                        br
                        span 제품을 찾을 수 있는
                    h2 물건찾기
                div(class="R3 Rbox")
                    div(class="R_img_box")
                        img(src="../../../static/images/diamond.png" alt="")
                    div(class="R_textbox")
                        span 다양한 보증서별 다이아를 
                        br
                        span 실시간으로 비교하여 
                        br
                        span 확인할 수 있는
                    h2 다이아 시세
                div(class="R4 Rbox")
                    div(class="R_img_box")
                        img(src="../../../static/images/alarm.png" alt="")
                    div(class="R_textbox")
                        span 매일 봐뀌는 금시세를 
                        br
                        span 실시간 알림으로 
                        br
                        span 알려드리는
                    h2 금시세 알림
    
    div(class="Retail2")
        div(class="Retail2_inbox inbox1")
            div(class="liftRetail2 phoneImg")
                div(class="liftretail2bx")
                    div(class="bgImgBox rbgbox")
                        ul
                            li(class="on")
                                img(src="../../../static/images/_jewerly.png" alt="주얼리신상 뒷배경")
                            
                            li(class="")
                                img(src="../../../static/images/_search.png" alt="물건찾기 뒷배경")
                            
                            li(class="")
                                img(src="../../../static/images/_diamond.png" alt="다이아 시세 뒷배경")
                            
                            li(class="")
                                img(src="../../../static/images/_box.png" alt="간편 채팅 뒷배경")
                    div(class="liftRetailbox")
                        img(src="../../../static/images/핸드폰목업.png" alt="핸드폰")
                    div(class="smphonbox")
                        ul(class="smPhon")
                            li(class="on")
                                img(src="../../../static/images/소매-신상 복사.png" alt="주얼리신상")
                            li(class="")
                                img(src="../../../static/images/물건찾기.png" alt="물건찾기")
                            li(class="")
                                img(src="../../../static/images/소매-다이아 복사.png" alt="다이아 시세")
                            li(class="")
                                img(src="../../../static/images/채팅화면.png" alt="간편 채팅")
            div(class="rightRetail2")
                h2 소매 사장님
                div(class="Reail2tit")
                    div(class="R2tit on")
                        span 매일 올라오는 <br> 주얼리 신상
                    div(class="R2tit")
                        span 원하는 물건 <br> span 빠르게 찾기
                    div(class="R2tit")
                        span 실시간 다이아 <br> span 시세 비교
                    div(class="R2tit")
                        span 간편한 채팅으로 <br> span 주문하기
                div(class="Rmanu")
                    div(class="Rm")
                        div(class="Rmtext Rm_on")
                            span 주얼리 신상
                    div(class="Rm")
                        div(class="Rmtext")
                            span 물건 찾기
                    div(class="Rm")
                        div(class="Rmtext")
                            span 다이아 시세
                    div(class="Rm")
                        div(class="Rmtext")
                            span 간편 채팅
                        
                div(class="text_Rm")
                    div(class="Rmtxt on")
                        span 매일 400여개의 신상 제품들이 업로드 됩니다. <br> 실시간으로 신상 제품들을 확인하여보세요
                        
                    
                    div(class="Rmtxt")
                        span 찾는 제품의 사진을 도매사장님들과 공유하여 <br> 빠르게 제품을 찾을 수 있어요
                        
                    
                    div(class="Rmtxt")
                        span 다양한 다이아의 시세를 실시간으로 <br> 비교하여 확인할 수 있어요
                        
                    
                    div(class="Rmtxt")
                        span 판매자와 실시간으로 전화 및 채팅으로 <br> 간편하게 주문이 가능해요
                        
    div(class="Retail1" id="wholesale")
        div(class="Retail1_inbox")
            div(class="Retail1_text")
                div
                    span(id="W_color") 도매 사장님들을 위한
                div
                    span 업스토어
                div(class="R1_txt")
                    span 국내 1위의 주얼리,다이아몬드 
                    br
                    span 도소매 중개 서비스를 제공하고 있습니다.
            div(class="Retail1_icon")
                div(class="R1 Rbox")
                    div(class="R_img_box")
                        img(src="../../../static/images/page4_1.png" alt="")
                    
                    div(class="R_textbox")
                        span 서비스 런칭 
                        br
                        span 8개원만에 
                        br
                        span 시장 점유율
                    
                    h2(id="W_color") 25%
                
                div(class="R2 Rbox")
                    div(class="R_img_box")
                        img(src="../../../static/images/page4_2.png" alt="")
                    div(class="R_textbox")
                        span 업스토어를 찾는 
                        br
                        span 누적 소매 사업자 
                        br
                        span 가입 업체
                    
                    h2(id="W_color") 3,000업체
                
                div(class="R3 Rbox")
                    div(class="R_img_box")
                        img(src="../../../static/images/page4_3.png" alt="")
                    
                    div(class="R_textbox")
                        span 하루 평균 
                        br
                        span 업로드 되는 
                        br
                        span 신상
                    
                    h2(id="W_color") 400개
                
                div(class="R4 Rbox")
                    div(class="R_img_box")
                        img(src="../../../static/images/page4_4.png" alt="")
                    
                    div(class="R_textbox")
                        span 실시간 금 시세 및 
                        br
                        span 다이아몬드 
                        br
                        span 중개수
                    
                    h2(id="W_color") 2,000개
                
            
        
    
    div(class="Retail2")
        div(class="Retail2_inbox")
            div(class="liftRetail2")

                h2 도매 사장님

                div(class="Reail2tit")
                    div(class="R2tit on")
                        span 언제 어디서나 쉽고  <br> 빠른 제품 업로드
                    div(class="R2tit")
                        span 한눈에 확인 <br> span 가능한 제품 관리
                    div(class="R2tit")
                        span 언제 어디서나 <br> span 간편한 주문 받기
                div(class="Rmanu")
                    div(class="Wm")
                        div(class="Wmtext Wm_on")
                            span 제품 업로드
                    div(class="Wm")
                        div(class="Wmtext")
                            span 제품 관리
                    div(class="Wm")
                        div(class="Wmtext")
                            span 간편 채팅
                div(class="text_Rm")
                    div(class="Rmtxt on")
                        span 매일 400여개의 신상 제품들이 업로드 됩니다. <br> 실시간으로 신상 제품들을 확인하여보세요
                    div(class="Rmtxt")
                        span 업로드된 제품들을 한눈에 확인하시고 <br> 편리하게 관리하여 보세요
                    div(class="Rmtxt")
                        span 구매자와 실시간으로 전화 및 채팅으로 <br> 간편하게 주문을 받으세요
            div(class="rightRetail2 phoneImg")
                div(class="liftretail2bx")
                    div(class="bgImgBox lbgbox")
                        ul
                            li(class="on")
                                img(src="../../../static/images/검색.png" alt="주얼리신상 뒷배경")
                            
                            li(class="")
                                img(src="../../../static/images/빌딩2.png" alt="물건찾기 뒷배경")
                            
                            li(class="")
                                img(src="../../../static/images/채팅.png" alt="다이아 시세 뒷배경")
                    div(class="liftRetailbox")
                        img(src="../../../static/images/핸드폰목업.png" alt="핸드폰")
                    div(class="smphonbox")
                        ul(class="smPhon")
                            li(class="on")
                                img(src="../../../static/images/도매-물건등록 복사.png" alt="주얼리신상")
                            li(class="")
                                img(src="../../../static/images/도매-카탈로그관리-목업.png" alt="물건찾기")
                            li(class="")
                                img(src="../../../static/images/소매_도매-채팅 복사.png" alt="다이아 시세")
                    
    div(class="pagePhoto")
        div(class="photo")
            span 도매 사장님
            span 촬영이 힘들어도 <br> 업스토어가 도와드려요
            
            span 직접 촬영이 힘든 사장님들을 위하여 <br> 업스토어에서 직접 제품촬영을 도와드리고 있어요!
            
            div(class="photoImg")
                div(class="Pimg")
                    img(src="../../../static/images/page6_ring.png" alt="링 사진1")
                    img(src="../../../static/images/jewerly.png" alt="링 사진2")
    div(class="rv")
        div(class="rvImgbox")
            div(class="rvImg")
                img(src="../../../static/images/page7_star.png" alt="titleImg")
        div(class="rvTitle")
            span 사장님들의 솔직한 리뷰
        div(class="rvbox")
            div(class="slider autoplay rvrvrv")
                div
                    div(class="soqn")
                        span 매일 신상1 
                        br
                        span 채크 확인 
                        br
                        span 좋아요~ 
                        br
                        span 아이디 : 이인혁
                        div(class="soqnImg")
                            img(src="../../../static/images/card_item.png" alt="별3개")
                div
                    div(class="soqn")
                        span 매일 신상2 
                        br
                        span 채크 확인 
                        br
                        span 좋아요~ 
                        br
                        span 아이디 : 이인혁
                        div(class="soqnImg")
                            img(src="../../../static/images/card_item.png" alt="별3개")
                div
                    div(class="soqn")
                        span 매일 신상3 
                        br
                        span 채크 확인 
                        br
                        span 좋아요~ 
                        br
                        span 아이디 : 이인혁
                        div(class="soqnImg")
                            img(src="../../../static/images/card_item.png" alt="별3개")
                div
                    div(class="soqn")
                        span 매일 신상4 
                        br
                        span 채크 확인 
                        br
                        span 좋아요~ 
                        br
                        span 아이디 : 이인혁
                        div(class="soqnImg")
                            img(src="../../../static/images/card_item.png" alt="별3개")    
                div
                    div(class="soqn")
                        span 매일 신상5 
                        br
                        span 채크 확인 
                        br
                        span 좋아요~ 
                        br
                        span 아이디 : 이인혁
                        div(class="soqnImg")
                            img(src="../../../static/images/card_item.png" alt="별3개")
                div
                    div(class="soqn")
                        span 매일 신상6 
                        br
                        span 채크 확인 
                        br
                        span 좋아요~ 
                        br
                        span 아이디 : 이인혁
                        div(class="soqnImg")
                            img(src="../../../static/images/card_item.png" alt="별3개")
    div(class="ytb")
        div(class="ytbBox")
            div(class="ytbImg")
                div(class="ytbimgbox")
                    img(src="../../../static/images/video-files.png" alt="")
            div(class="ytbtitle")
                span 업스토어 최근 소식
            div(class="ytbmv")
                a(target="_blank" href="https://www.youtube.com/channel/UC79Opj7O69O1Yqs-sOHM8Rw")
                    span 더보기
                img(src="../../../static/images/button_right.png" alt="ytbmv")
            div(class="ylink")
                div(class="slider autoplay2")
                    div
                        div(class="ytbtitBox")
                            img(src="../../../static/images/upload_d6dfca2e9cea74edeab2b6852b932d7f.jpg" alt="귀걸이")
                            div(class="playbtn")
                                a(href="#")
                                    img(src="../../../static/images/button_play.png" alt="플래이버튼")
                    div
                        div(class="ytbtitBox")
                            img(src="../../../static/images/upload_7287d4230322cf9d3d65d0eef3f5b1e7.jpg" alt="목걸이")
                            div(class="playbtn")
                                a(href="#")
                                    img(src="../../../static/images/button_play.png" alt="플래이버튼") 
                    div
                        div(class="ytbtitBox")
                            img(src="../../../static/images/upload_63108811cd5a3e0dccb233d9264494bb.jpg" alt="반지")
                            div(class="playbtn")
                                a(href="#")
                                    img(src="../../../static/images/button_play.png" alt="플래이버튼")
    div(class="down2" id="down")
        div(class="downbox")
            div(class="down_inbox2")
                div(class="mtextbox2")
                    h2 지금 바로 업스토어를
                    h2 다운로드 하세요
                
                div(class="downlink2")
                    a(href="")
                        img(src="../../../static/images/white_google.png" alt="구글스토어")
                    a(href="")
                        img(src="../../../static/images/white_apple.png" alt="애플스토어")
    footer
        div(class="footerbox")
            div(class="footerbx")
                div(class="l_footer")
                    div(class="logo_first")
                        img(src="../../../static/images/keumbang.png" alt="로고1번")
                    div(class="logo_second")
                        img(src="../../../static/images/upstore_logo.png" alt="로고 2번")
                div(class="footerspn")
                    span KEUMBNAG INC. © 2020 KEUMBANG.COM. ALL RIGHTS RESERVED.
            div(class="r_footer")
                span 전화번호 : 02 - 2272 - 9897 / 010 - 4447 - 9897 
                br
                span 이메일 문의 : info@keumbang.com 
                br
                span www.upstore.kr www.keumbang.com 
                br
                span 서울특별시 종로구 종로 133 골드유빌딩 건물, 4층
            

        
            


        
    