extends base2



block content
        main 
            if errorMessage
                span=errorMessage
            form(method="POST")
                input(type="text", placeholder="ID", name="username", required)
                input(type="password", placeholder="Password", name="password", required)
                input(type="Password", placeholder="Confirm Password", name="password2", required)
                input(type="text", placeholder="클릭하여 명함/사업자등록증 사본을 보내주세요.", name="businesscard")
                input(type="text", placeholder="사업자등록번호 10자리를 입력하여 주세요.", name="crnumber", required)
                input(type="text", placeholder="클릭하여 상호명을 입력하여 주세요.", name="businessname", required)
                input(type="text", placeholder="클릭하여 연락처를 입력하여 주세요.", name="contact", required)
                input(type="submit" value="가입하기")