extends base
include ./mixins/quotetable

block links
    link(rel="stylesheet", href="/static/css/quote.css")
    link(rel="stylesheet", href="/static/css/components/footer.css")

block scripts 
    script(defer, src="/assets/js/quote.js") 

block content
    div(class="container stonemain")
        div(class="row spaceBox")
            div(class="col-sm-6 col-12")
                div(class="stoneFree")
                    span #{pageTitle} 
                    span (전체 #{user.quotes.length} 개)
                    a(href="")
                        img(src="../../../static/images/ic-info-outline-24-px.png", alt="도움") 
            div(class="col-12 col-md-6 col-lg-4 stoneSavebox")
                div(class="col-5 col-md-6 col-lg-5 stoneSave")
                    button#openButton(type="button") 등록하기
    form(class="container quoteStart" method="POST")
        div(class="row")
            div(class="col-12 col-md-6 searchMyBox")
                div(class="calinder cal1")
                    img(src="../../../static/images/calendar.png", alt="calendar")
                div(class="calData calD1") 2021-07-08
                div(class="calinder cal2")
                    img(src="../../../static/images/calendar.png", alt="calendar")
                div(class="calData calD2") 2021-07-08
                select(name="why_do_this" id="why_do_this")
                    option(value="등록일") 등록일
        div(class="row deleteOrViewBox")
            div(class="col-8 col-sm-6 deleteOrView")
                div(class="deleteMan dVBox")
                    img(src="../../../static/images/삭제하기.png", alt="삭제하기")
                    button#deleteBtn(name="deleteBtn" type="submit" value="삭제하기") 삭제하기
                div(class="ViewMan dVBox")
                    select(name="page-view-counter" id="select10_50") 
                        option(value="10View") 10View   
                        option(value="20View") 20View   
                        option(value="30View") 30View   
                        option(value="50View") 50View
        div(class="row quoteBox")
            div(class="col-10 col-md-11")
                table   
                    thead 
                        tr 
                            th
                                input(type="checkbox", id="checkedAll", name="clickAll")
                            th #
                            th 등록일
                            th 앞시세
                            th 뒷시세
                    each quote in user.quotes 
                        +quotetable(quote)
                    else
                        div
    div(class="col-12")
        div(class="numlist")
            div(class="numnum on")
                span 1
    form(method="POST" id="postForm")
        #bgOff 
        .postBox.container
            .row.quoteTitle
                .col-12 
                    .spanfirst.postInBox
                        span 시세 등록
                    .spanlast.postInBox 
                        span *표시가 있는 경우 필수 입력사항입니다. 반드시 입력해주세요
            .submitBox
                .row
                    .col-12
                        .spanBox.postInBox   
                            span 앞시세
                            span *
                        .inputBox.postInBox
                            input(type="number", name="frontquote",  placeholder="앞시세", required)
                .row
                    .col-12
                        .spanBox.postInBox  
                            span 뒷시세
                            span *
                        .inputBox.postInBox
                            input(type="number", name="backquote",  placeholder="뒷시세", required)
            .row#qutoeSubmitButton
                .col-12
                    button#offButton(type="button") 닫기
                    button(name="qutoeSubmitBtn" type="submit" value="등록") 등록
    include ./partials/footer