extends base.pug

block links 
    link(rel="stylesheet", href="/static/css/stock.css")
    link(rel="stylesheet", href="/static/css/components/footer.css")

block content
    div(class="container stonemain")
        div(class="row spaceBox")
            div(class="col-sm-6 col-12")
                div(class="stoneFree")
                    span #{pageTitle}
                    span (전체 n개)
                    a(href="")
                        img(src="../../../static/images/ic-info-outline-24-px.png", alt="도움") 
            div(class="col-12 col-md-6 col-lg-4 stoneSavebox")
                div(class="col-5 col-md-6 col-lg-5 stoneSave")
                    button(type="button", onclick="location=`/stock/save`") 재고등록
        div(class="row")
            div(class="col-sm-12 col-md-5 col-lg-3 searchMyBox")
                div(class="calinder cal1")
                    img(src="../../../static/images/calendar.png", alt="calendar")
                div(class="calData calD1") 2021-07-08
                div(class="calinder cal2")
                    img(src="../../../static/images/calendar.png", alt="calendar")
                div(class="calData calD2") 2021-07-08
                select(name="why_do_this" id="why_do_this")
                    option(value="등록일") 등록일
            div(class="col-sm-12 col-md-6 col-lg-4 wichbox")  
                select(name="sortselect" id="sortselect") 
                    option(value="정렬") 정렬
                    option(value="등록일") 등록일
                    option(value="시리얼") 시리얼
                    option(value="모델번호") 모델번호
                    option(value="사이즈") 사이즈
                select(name="Ascending" id="Ascending") 
                    option(value="정렬순서") 정렬순서
                    option(value="오름차순") 오름차순
                    option(value="내림차순") 내림차순
        div(class="row deleteOrViewBox")
            div(class="col-md-12 col-lg-6 filterselect")
                select(name="sortselect" id="sortselect") 
                    option(value="필터") 필터
                    option(value="함량") 함량
                    option(value="색상") 색상
                    option(value="단계") 단계
                select(name="sortselect" id="sortselect") 
                    option(value="목록") 목록
            div(class="col-md-8 col-lg-6 deleteOrView")
                div(class="QRcodeout dVBox")
                    img(src="../../../static/images/QR출력.png", alt="QR출력")
                    span QR출력
                div(class="deleteMan dVBox")
                    img(src="../../../static/images/삭제하기.png", alt="삭제하기")
                    span 삭제하기
                div(class="ViewMan dVBox")
                    select(name="page-view-counter" id="select10_50") 
                        option(value="10View") 10View
                        option(value="20View") 20View
                        option(value="30View") 30View
                        option(value="50View") 50View
    div(class="container")
        div(class="row uptableBox")
            div(class="upsidetable")
                div(class="col-12 nopaddingbox")
                    table 
                        thead 
                            tr 
                                th(class="No" rowspan="2") No 
                                th(class="cB" rowspan="2") 
                                    input(name="clickAll" id="checkedAll" type="checkbox")
                                th(class="" rowspan="2") 시리얼 <br> (제고번호)
                                th(class="" rowspan="2") 등록일
                                th(class="" rowspan="2") 구분
                                th(class="" rowspan="2") 사이즈 <br> 비고
                                th(class="" rowspan="2") 모델번호
                                th(class="" rowspan="2") 제질 <br> 색상
                                th(class="" rowspan="2") 메인 <br> 보조
                                th(class="" colspan="2") 개당알수
                                th(class="" rowspan="2") 수량
                                th(class="" rowspan="2") 단가
                                th(class="" colspan="4") 판매단가
                                th(class="" colspan="3") 총중량(g)
                                th(class="" rowspan="2") 판매 <br> 합계
                                th(class="" rowspan="2") 매입 <br> 합계
                            tr 
                                th 메
                                th 보
                                th 기본
                                th 추가
                                th 중심
                                th 보조
                                th 총
                                th 금
                                th 알
                        tbody
                            tr
                                td 1
                                td
                                   input(name="clickThis" id="checkedThis" type="checkbox")
                                td 00088604
                                td 2021-07-12
                                td 일반
                                td
                                td 조각 돌반지
                                td 순금995
                                td 0
                                td 0
                                td 0
                                td 1
                                td 0
                                td 3,000
                                td 0
                                td 0
                                td 0
                                td 3.75
                                td 3.75
                                td 0
                                td 3,000
                                td 0
            div(class="col-12 nopaddingbox")     
                div(class="listlist")       
                    span 체크된 것
                    a(href="") 단계변경
                    a(href="") 판매
                    a(href="") 대여
    div(class="col-12")
        div(class="numlist")
            div(class="numnum on")
                span 1
    include ./partials/footer