extends base.pug
include ./mixins/stonetable

block links 
    link(rel="stylesheet", href="/static/css/stone.css")
    link(rel="stylesheet", href="/static/css/components/footer.css")

block scripts 
    script(defer, src="/assets/js/stone.js") 

block content 
    div(class="container stonemain")
            div(class="row spaceBox")
                div(class="col-sm-6 col-12")
                    div(class="stoneFree")
                        span #{pageTitle}
                        if stones
                            span (전체 #{stones.length}개)
                        else
                            span (전체 #{stoness.length}개)
                        a(href="")
                            img(src="../../../static/images/ic-info-outline-24-px.png", alt="도움") 
                div(class="col-12 col-md-6 col-lg-4 stoneSavebox")
                    div(class="col-5 col-md-6 col-lg-5 stoneSave")
                        button#stoneButton(type="button") 스톤 추가등록
            div(class="row searchMyBox")
                div(class="col-12 col-sm-6")
                    form(class="searchbox" method="GET")
                        input(class="searching" type="text" name="keyword" placeholder="스톤명, 비고(으)로 검색")
                        button(id="btn_searching") 
                            i(class="las la-search")
    form(method="POST" class="container tableStart")    
        div(class="row deleteOrViewBox")
            div(class="col-8 col-sm-6 deleteOrView")
                div(class="deleteMan dVBox" method="POST")
                    img(src="../../../static/images/삭제하기.png", alt="삭제하기")
                    button#deleteBtn(type="submit" name="deleteBtn" value="삭제하기") 삭제하기
                div(class="ViewMan dVBox")
                    select(name="page-view-counter" id="select10_50")
                        option(value="10View") 10View   
                        option(value="20View") 20View   
                        option(value="30View") 30View   
                        option(value="50View") 50View
        div(class="tablePluseBox")
            div(class="row breackingBoxSize")
                div(class="col-12 tablebox1")
                    table(class="col-11")
                        thead 
                            tr 
                                th(class="checkbxbx") 
                                    input(type="checkbox", id="checkedAll", name="clickAll")
                                th(class="index") #
                                th(class="name") 스톤명
                                th(class="weight") 중량
                                th(class="sales-price") 판매단가
                                th(class="purchasePrice") 매입단가
                                th(class="desc") 비고
                        if stones
                            each stone in stones
                                +stoneTable(stone)
                            else 
                                div
                        else
                            each stone in stoness
                                +stoneTable(stone)
                            else
                                div
    div(class="col-12")
        div(class="numlist")
            div(class="numnum on")
                span 1
    form(method="POST" class="postForm" id="postForm")
        #bgbtn
        div.postBox    
            .row.stonetitle
                .col-12 
                    .spanfirst
                        span 스톤 등록
                    .spanseccond    
                        span * 표시가 있는 경우 필수 입력사항입니다. 반드시 입력해주세요
            .row#stoneSubmitBox    
             
                div.col-12
                    div.labelBox    
                        label(for="name") 스톤명
                            span *
                    div.inputBox    
                        input(type="text", name="name", required, id="name", placeholder="스톤명을 입력해주세요 ex)오닉스") 
               
                div.col-12
                    div.labelBox   
                        label(for="weight") 표준 중량
                            span *
                    div.inputBox 
                        input(type="text", name="weight", required, id="weight", placeholder="중량을 입력해주세요") 
              
                div.col-12
                    div.labelBox    
                        label(for="purchasePrice") 매입 가격
                            span *
                    div.inputBox    
                        input(type="text", name="purchasePrice", required, id="purchasePrice", placeholder="매입 가격을 입력해주세요") 
              
                div.col-12
                    div.labelBox    
                        label(for="sellingPrice") 판매 가격
                            span *
                    div.inputBox    
                        input(type="text", name="sellingPrice", required, id="sellingPrice", placeholder="판매 가격을 입력해주세요") 
     
                div.col-12
                    div.labelBox    
                        label(for="description") 비고
                    div.inputBox    
                        input(type="text", name="description", id="description") 
             
            .row#stoneSubmitButton
                .col-12
                    input#offButton(type="button", value="취소")
                    input(type="submit",name="stoneSubmit" value="등록")
    include ./partials/footer
