.startsearch{
    position: fixed;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: 9999;
    overflow: hidden;
}

.startsearch.on{
    height: 100%;
}

#bgBg{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity .5s;
}

.startsearch.on #bgBg{
    opacity: 1;
}

.searcOrderhBox{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90% !important;
    background-color: #fff;
    border: 1px solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    transition: top .5s, opacity .5s;
}
.searcOrderhBox.on{
    top: 50%;
    opacity: 1;
}


.orderTitleBox{
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
    background-color: #f1f5f7;
    border-bottom: 1px solid rgba(136, 136, 136, 0.4);
}

.orderButtonBox1{
    margin-top: 20px;
    justify-content: space-between;
}

.ordername{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    font-size: 28px;
    font-weight: 700;
}

@media (max-width: 580px){

    .ordername{
        flex-direction: column;
        font-size: 20px;
    }

}

.goOrderUpload{
    text-align: right;
}
.goOrderUpload button{
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    background-color: #ffaa34;
    box-shadow: 1px 1px 2px 0 #999;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.orderSelect{
    margin-top: 16px;
}

.searcOrderhBox1{
    padding-left: 20px;
    padding-right: 20px;
}
.searcOrderhBox2{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}


.calBox2{
    display: flex;
    margin-top: 8px;
    width: 240px;
}

.calBox2 input{
    padding-left: 10px;
    width: 80px;
    border: none;
    font-size: 12px;
}

.orderSelectBox{
    display: flex;
    margin-top: 8px;
}
.orderSelectBox select{
    margin-left: 8px;
    padding-left: 10px;
    width: 78px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #999;
    background: #fff url("../../images/ic_arrow_drop_down_24px.png") no-repeat 91% 50%;
    font-size: 12px;
    font-weight: 600;
    appearance: none;
}
.orderSelectBox select:first-child{
    margin-left: 0;
}

.searchOrder{
    margin-top: 8px;
    display: flex;
}
.searchOrder input{
    width: 90%;
    height: 38px;
    border: 1px solid #333;
    border-radius: 5px 0 0 5px ;
}
.searchOrder button{
    position: relative;
    width: 10%;
    height: 38px;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 0 5px 5px 0;
    font-size: 26px;
    color: #fff;
}

.searchOrder button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.orderSelectMBox{
    margin-top: 32px;
    justify-content: space-between;
}


.orderSelectBox2{
    display: flex;
    width: 138px;
}

.orderSelectBox2 select{
    margin-left: 8px;
    padding-left: 10px;
    width: 78px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #999;
    background: #fff url("../../images/ic_arrow_drop_down_24px.png") no-repeat 91% 50%;
    font-size: 12px;
    font-weight: 600;
    appearance: none;
}

.orderSelectBox3{
    text-align: right;

}

.orderSelectBox3 select{
    padding: 4px 10px 7px 10px;
    width: 92px;
    height: 32px;
    border: 1px solid #999;
    background: #f1f5f7 url("../../images/ic_arrow_drop_down_24px.png") no-repeat 91% 50%;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    appearance: none;
} 

.orderTableBox{
    margin-top: 8px;
}



.orderTableBox table{
    width: 100%;
    font-size: 12px;
}

.orderTableBox thead{
    height: 35px;
    border: 1px solid rgba(136, 136, 136, 0.4);
    background-color: #f1f5f7;
}
.orderTableBox th{
    border-left: 1px solid rgba(136, 136, 136, 0.4);
    /* border-right: 1px solid rgba(136, 136, 136, 0.4); */
}

.calInBox{
    display: flex;
    height: 32px;
    flex-direction: row-reverse;
    border-radius: 5px 0 0 5px;
    border: 1px solid rgba(136, 136, 136, 0.4);
    overflow: hidden;
}

.calInBox:last-child{
    border-radius: 0 5px 5px 0;
}


.orderButtonBox2{
    margin-top: 30px;
    justify-content: right;
}
.orderButtonBox2 .col-5{
    display: flex;
    justify-content: right;
}
.orderButtonBox2 button{
    width: 92px;
    height: 36px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #dbb3ff;
    font-size: 12px;
    font-weight: 500;
    color: #666;
    box-shadow: 1px 1px 3px 0 rgba(153, 153, 153);
}


.ui-datepicker-trigger{
    width: 30px;
    background-color: #f1f5f7;
    border: none;
    border-right: 1px solid rgba(153, 153, 153, 0.5);
}




/* /////////////////////////// */

.searcModelhBox{
    padding-bottom: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:90% !important;
    max-height: 95%;
    background-color: #fff;
    border: 1px solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    opacity: 0;
    transition: top .5s, opacity .5s;
    overflow-y: scroll;
}
.searcModelhBox.on{
    top: 50%;
    opacity: 1;
}  

.searcModelTitle{
    padding: 20px 6px 20px 6px;
    border-bottom: 1px solid #999;
    background-color: #f1f5f7;
    font-size: 24px;
    font-weight: 600;
}

.searcModelSubTitle{
    margin-top: 8px;
}

.searcModelSubTitle span{
    font-size: 24px;
    font-weight: 500;
}

.inputModel{
    display: flex;
    justify-content: flex-end;
}
.inputModel input{
    width: 90%;
    height: 38px;
    border: 1px solid #999;
    outline: none;
}
.inputModel button{
    width: 38px;
    height: 38px;
    background-color: #333;
    outline: none;
    border: none;
    border-radius: 0 3px 3px 0;
    color: #fff;
    font-size: 26px;
}

#fillterBox{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}


#filterButton{
    width: 100px;
    height: 26px;
    font-weight: 500;
    color: #fff;
    background-color: #999;
    border: none;
    outline: none;
}


.modelcardlistBox{
    margin-top: 20px;
}

.modelcardlist{
    display: flex;
    flex-wrap: wrap;
}

.modelCard{
    margin-bottom: 20px;
    margin-right: 5px;
    width: 134px;
    height: 311px;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 5px;
    overflow: hidden;
}

.cardHead{
    margin: 0;
    width: 130px;
    height: 130px;
    /* border:1px solid rgba(0,0,0,.125); */
    /* outline: 1px solid rgba(0,0,0,.125); */
}
.cardimg{
    margin: 0;
    width: 100%;
    height: 100%;
    /* border:1px solid rgba(0,0,0,.125); */
}

.cardimg img{
    width: 100%;
    height: 100%;
}

.cordBody{
    width: 130px;
    /* border: 1px solid rgba(0,0,0,.125); */
    /* outline: 1px solid rgba(0,0,0,.125); */
}

.cardname{
    padding: 12px 20px;
    width: 100%;
    height: 40px;
    background-color: #eee;
    /* border:1px solid rgba(0,0,0,.125); */
    font-size: 13px;
    font-weight: 500;
}
.cardExplanation{
    padding-top: 10px;
    padding-bottom: 5px;
    height: 111px;
}
.cardFoot{
    width: 100%;
    height: 26px;
}
.cardFoot button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #ffaa34;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}
#goCatalogeUpload{
    width: 130px;
    margin-bottom: 20px;
    height: 311px;
    min-height: 100px; 
    font-size: 20px;
}

#goCatalogeUpload button{
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 5px;
    background-color: #fff5e8;
    color: #ffaa34;

}

#goCatalogeUpload i{
    font-size: 50px;
    font-weight: 700;
}

/* 필터 */


.mainck{
    margin-top: 20px;
    overflow: hidden;
    max-height: 0;
    transition: max-height .3s ease-in-out;
    
}

.mainck.on{
    max-height: 500px;
    border: 1px solid rgba(172, 172, 172, 0.5);
}


.catalognanu{
    display: flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #777;
    border-left: 1px solid rgba(172, 172, 172, 0.5);
    background-color: #f1f5f7;

}

.chackboxbox{
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.chackboxbox button{
    margin: 4px 2px;
    padding: 1px 6px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #333;

}

.chackboxbox button:focus{
    outline: none;

}


.chackboxbox1{
    min-height: 40px;
}

.chackbox{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
}

.chackbox button.on{
    background-color: #ffaa34;
}

.styleBox{
    display: none;
}

.styleBox.on{
    display: flex;
}

.weightBox{
    display: none;
}
.weightBox.on{
    display: flex;
}


.filterbtnbox{
    border-top: 1px solid rgba(172, 172, 172, 0.5);
}

.filterbtnbox .col-5,.filterbtnbox .col-2{
    padding: 0.5rem 0;
}

.filterbtnbox button{
    width: 40%;
    height: 38px;
}
.wjrdydqjxms{
    display: flex;
    justify-content: flex-end;
}

.wjrdydqjxms button{
    border-radius: 4px;
    background-color: #ffaa34;
    border: none;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.wjrdydqjxms button:focus{
    box-shadow: none;
}

.chrlghkqjxms{
    display: flex;
    justify-content: flex-start;
}

.chrlghkqjxms button{
    background-color: #fff;
}




.searchManuBox{
    padding-bottom: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: top .5s, opacity .5s;
}

.searchManuBox.on{
    top: 50%;
    opacity: 1;
}

.manuNameBox{
    margin-bottom: 20px;
}

.manuName{
    padding: 6px;
    width: 100%;
    height: 50px;
    background-color: #f1f5f7;
    border-bottom: 1px solid #999;
    border-radius: 5px 5px 0 0;
    font-size: 24px;
    font-weight: 700;
}

.clientBody{
    margin-bottom: 20px;
    justify-content: space-between;
    /* align-items: center; */
}

.clientBodyName{
    font-size: 24px;
}

.getClient input{
    width: 70%;
    height: 38px;
}

.getClient button{
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 0 3px 3px 0;
    background-color: #333;
    color: #fff;
    font-size: 18px;
}


.clientBox{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.clientBox table{
    min-width: 990px;
    width: 100%;
    font-size: 12px;
}

.clientBox table thead{
    height: 30px;
    background-color: #f1f5f7;
}
.clientBox table tbody{
    height: 30px;
}


.clientBox th{
    border: 1px solid #999;
}

.clientBox td{
    border: 1px solid #999;
}

.clientBox td a{
    color: blue;
}

.botbutton button{
    margin-top: 20px;
    width: 100%;
    height: 28px;
    color: #ffaa34;
}



.numberBox{
    margin-top: 50px;
    margin-bottom: 20px;
}


/* 달력 안에 이미지 */


.ui-datepicker-trigger{
    position: relative;
}

.ui-datepicker-trigger img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#datepicker{
    cursor: pointer;
}