div(class="container")
    footer(class="container")
        nav(class="footmn")
            ul 
                li
                    a(href="")
                        span 고객 지원 센터
                li
                    a(href="")
                        span 이용 약관
                li
                    a(href="")
                        span 개인 정보 처리 방침
                li
                    a(href="")
                        span 공지 사항
        div(class="row footerbtm")
            div(class="col-12 col-sm-3")
                div(class="ftbox") logo2 
            div(class="col-12 col-sm-3")
                div(class="ftbox")
                    span 금방 (주) | 대표 : 임진리 
                    span 서울 특별시 종로구 종로 133골드 유 빌딩 건물, 4층
                    span 사업자 등록번호 : 68987 - 01235
                    span 통신 판매업 신고 : 2019 - 서울 종로 - 0000
                    span 업체 정보 확인&gt;
            div(class="col-12 col-sm-3")
                div(class="ftbox")
                    span 356 고객센터 | 전자 금융 거래 분쟁 처리 담당
                    h2 02-2272-9899
                    span 서울 특별시 종로구 133 골드 유 빌딩 건물, 4 층
                    span 팩스 : 02 - 2272 - 9897 | 이메일 : cs@keumbang.com
            div(class="col-12 col-sm-3")
                div(class="ftbox")
                    span 금우리 은행 채무 지급 보증 안내
                    span 당사는 고객님이 현금 결제 한 금액에 대해
                    span 우리 은행과 채무 지급 보증 계약을 체결하여
                    span 안전 거래를 보장하고 있습니다.
                    span 서비스 가입 사실 확인&gt;