div(id="top")
    div(class="container toptop")
        div(class="row top_box")
            div(class="col-2 logobx")
                div(class="logo") logo 
            div(class="col-10 mnbx")
                div(class="menuli")
                    ul 
                        li  
                            a(href="/cataloge/main") 
                                span 카탈로그
                        li  
                            a(href="/chat") 
                                span 채팅
                        li  
                            a(href="/stone") 
                                span 스톤
                        li  
                            a(href="/client") 
                                span 거래처
                        li  
                            a(href="/quote") 
                                span 시세
                        li  
                            a(href="/stock/main") 
                                span 제고관리
                        li  
                            a(href="/order/main") 
                                span 주문
                        li  
                            a(href="/repair/main") 
                                span 수리
                        li  
                            a(href="/purchase/main") 
                                span 매입
                        li  
                            a(href="/sale/main") 
                                span 판매
                        li  
                            a(href="/rent/main") 
                                span 대여
                        li  
                            a(href="/accountsReceivable") 
                                span 미수
                        li  
                            a(href="/users/logout") 
                                span 로그아웃
                button(id="ham")
                    span(class="hamImg")
    div(class="hammn")
        ul 
            li  
                a(href="/cataloge/main") 
                    span 카탈로그
            li  
                a(href="/chat") 
                    span 채팅
            li  
                a(href="/stone") 
                    span 스톤
            li  
                a(href="/client") 
                    span 거래처
            li  
                a(href="/quote") 
                    span 시세
            li  
                a(href="/stock/main") 
                    span 제고관리
            li  
                a(href="/order/main") 
                    span 주문
            li  
                a(href="/repair/main") 
                    span 수리
            li  
                a(href="/purchase/main") 
                    span 매입
            li  
                a(href="/sale/main") 
                    span 판매
            li  
                a(href="/rent/main") 
                    span 대여
            li  
                a(href="/accountsReceivable") 
                    span 미수
            li  
                a(href="/users/logout") 
                    span 로그아웃