extends ../base.pug
include ../mixins/card

block content
    h2 카탈로그 보기 test
        div     
            each product in user.products 
                +card(product)
            else    
                div 없다
