extends ../base.pug


block links 
    link(rel="stylesheet", href="/static/css/cataloge/catalogeupload.css")

block scripts 
    script(defer, src="/assets/js/catalogeUpdate.js") 

block content 
    div(class="main-container")
        form(method="POST", enctype="multipart/form-data")     
            div(class="container pgnm")
                div(class="row")
                    div(class="col-6")
                        div(class="mainTitle")
                            a(href="/cataloge/main", target="_self", class="mntitArrow")
                            span #{pageTitle}
                            a(href="", class="helpIcon") 
                    div(class="col-6 btnbtn")
                        button(class="ctlogBox clossbtn") 취소
                        button(class="ctlogBox" type="submit") 등록
                div(class="row")
                    div(class="col-12")
                        div(class="noto")
                            span *표시가 있는경우 필수입력사항입니다.
                            br
                            span 반드시 값을 입력해 주세요.
            div(class="container")
                div(class="row")
                    div(class="col-12")
                        div(class="mtt")
                            span 카탈로그 이미지
                div(class="row")
                    div(class="col-12")
                        div(class="mainImg")
                            div(class="mImgBox")
                                label(for="mimgpluse") 
                                    span +
                                input(type="file", accept="image/*", name="catalogeimg", id="mimgpluse", required)
                div(class="row")
                    div(class="col-12")
                        div(class="mtt mtt2")
                            span 카탈로그 분류
                div(class="row")
                    div(class="col-12")
                        div(class="mainck")
                            div(class="row")
                                div(class="col-2 catalognanu") *성별
                                div(class="col-10 chackboxbox chackboxbox1")
                                    div(class="allForm")
                                        label(class="radiobox", for="man") 남자
                                            input(type="radio", name="gender", id="man", value="남성") 
                                        label(class="radiobox", for="woman") 여자
                                            input(type="radio", name="gender", id="woman", value="여성")
                                        label(class="radiobox", for="all") 전체
                                            input(type="radio", name="gender", id="all", value="전체" checked)
                            div(class="row")
                                div(class="col-2 catalognanu") *나이대
                                div(class="col-10 chackboxbox chackboxbox1")
                                    div(class="chackbox ageBox")
                                        button(type="button", name="age", class="ageButton" value="영유아") 영유아
                                        button(type="button", name="age", class="ageButton" value="10대~20대") 10대~20대
                                        button(type="button", name="age", class="ageButton" value="30대~40대") 30대~40대
                                        button(type="button", name="age", class="ageButton" value="50대이상") 50대이상
                            div(class="row")
                                div(class="col-2 catalognanu") *부위
                                div(class="col-10 chackboxbox chackboxbox1")
                                    div(class="chackbox partBox")
                                        button(type="button", name="part" id="necklace" value="목걸이") 목걸이
                                        button(type="button", name="part" id="earring" value="귀걸이") 귀걸이
                                        button(type="button", name="part" id="bracelet" value="팔찌") 팔찌
                                        button(type="button", name="part" id="anklet" value="발찌") 발찌
                                        button(type="button", name="part" id="ring" value="반지") 반지
                                        button(type="button", name="part" id="etc" value="기타") 기타
                            div(class="row")
                                div(class="col-2 catalognanu") *스타일
                                div(class="col-10 chackboxbox chackboxbox1")
                                    div(class="chackbox styleBox" id="necklaceSt")
                                        button(type="button", name="styles", value="패션") 패션
                                        button(type="button", name="styles", value="아기제") 아기제품
                                        button(type="button", name="styles", value="종교") 종교
                                        button(type="button", name="styles", value="웨딩") 웨딩
                                        button(type="button", name="styles", value="대작") 대작
                                        button(type="button", name="styles", value="진주") 진주
                                        button(type="button", name="styles", value="다이아") 다이아
                                        button(type="button", name="styles", value="유색보") 유색보석
                                        button(type="button", name="styles", value="레이스") 레이스
                                        button(type="button", name="styles", value="볼") 볼
                                        button(type="button", name="styles", value="클립") 클립
                                        button(type="button", name="styles", value="기계체") 기계체인
                                        button(type="button", name="styles", value="모줄") 모줄
                                        button(type="button", name="styles", value="함마링") 함마링
                                        button(type="button", name="styles", value="각줄") 각줄
                                        button(type="button", name="styles", value="할로우") 할로우
                                        button(type="button", name="styles", value="오메가") 오메가
                                        button(type="button", name="styles", value="이태리") 이태리
                                        button(type="button", name="styles", value="면") 면
                                        button(type="button", name="styles", value="가죽") 가죽
                                        button(type="button", name="styles", value="캐스팅") 캐스팅
                                        button(type="button", name="styles", value="양장") 양장
                                        button(type="button", name="styles", value="고방") 고방
                                        button(type="button", name="styles", value="스타킹") 스타킹
                                        button(type="button", name="styles", value="초커") 초커
                                        button(type="button", name="styles", value="볼드") 볼드
                                        button(type="button", name="styles", value="이니셜") 이니셜
                                        button(type="button", name="styles", value="롱") 롱
                                        button(type="button", name="styles", value="펜던트") 펜던트
                                        button(type="button", name="styles", value="심플") 심플
                                        button(type="button", name="styles", value="일체형") 일체형
                                        button(type="button", name="styles", value="뱅글") 뱅글
                                        button(type="button", name="styles", value="원석") 원석
                                        button(type="button", name="styles", value="컷팅") 컷팅
                                        button(type="button", name="styles", value="펫") 펫
                                        button(type="button", name="styles", value="연예인") 연예인
                                        button(type="button", name="styles", value="기타") 기타
                                    div(class="chackbox styleBox" id="earringSt")
                                        button(type="button", name="styles", value="패션") 패션
                                        button(type="button", name="styles", value="아기제") 아기제품
                                        button(type="button", name="styles", value="종교") 종교
                                        button(type="button", name="styles", value="웨딩") 웨딩
                                        button(type="button", name="styles", value="대작") 대작
                                        button(type="button", name="styles", value="진주") 진주
                                        button(type="button", name="styles", value="다이아") 다이아
                                        button(type="button", name="styles", value="유색보석") 유색보석
                                        button(type="button", name="styles", value="레이스") 레이스
                                        button(type="button", name="styles", value="볼") 볼
                                        button(type="button", name="styles", value="클립") 클립
                                        button(type="button", name="styles", value="버튼") 버튼
                                        button(type="button", name="styles", value="드롭") 드롭
                                        button(type="button", name="styles", value="링") 링
                                        button(type="button", name="styles", value="투핀/투링") 투핀/투링
                                        button(type="button", name="styles", value="피어싱") 피어싱
                                        button(type="button", name="styles", value="심플") 심플
                                        button(type="button", name="styles", value="원터치") 원터치
                                        button(type="button", name="styles", value="침") 침
                                        button(type="button", name="styles", value="낚싯줄") 낚싯줄
                                        button(type="button", name="styles", value="뱅글") 뱅글
                                        button(type="button", name="styles", value="원석") 원석
                                        button(type="button", name="styles", value="컷팅") 컷팅
                                        button(type="button", name="styles", value="펫") 펫
                                        button(type="button", name="styles", value="연예인") 연예인
                                        button(type="button", name="styles", value="기타") 기타
                                    div(class="chackbox styleBox" id="braceletSt")
                                        button(type="button", name="styles", value="패션") 패션
                                        button(type="button", name="styles", value="아기제") 아기제품
                                        button(type="button", name="styles", value="종교") 종교
                                        button(type="button", name="styles", value="웨딩") 웨딩
                                        button(type="button", name="styles", value="대작") 대작
                                        button(type="button", name="styles", value="진주") 진주
                                        button(type="button", name="styles", value="다이아") 다이아
                                        button(type="button", name="styles", value="유색보") 유색보석
                                        button(type="button", name="styles", value="레이스") 레이스
                                        button(type="button", name="styles", value="볼") 볼
                                        button(type="button", name="styles", value="클립") 클립
                                        button(type="button", name="styles", value="기계체") 기계체인
                                        button(type="button", name="styles", value="모줄") 모줄
                                        button(type="button", name="styles", value="함마링") 함마링
                                        button(type="button", name="styles", value="각줄") 각줄
                                        button(type="button", name="styles", value="할로우") 할로우
                                        button(type="button", name="styles", value="오메가") 오메가
                                        button(type="button", name="styles", value="이태리") 이태리
                                        button(type="button", name="styles", value="면") 면
                                        button(type="button", name="styles", value="가죽") 가죽
                                        button(type="button", name="styles", value="캐스팅") 캐스팅
                                        button(type="button", name="styles", value="양장") 양장
                                        button(type="button", name="styles", value="고방") 고방
                                        button(type="button", name="styles", value="스타킹") 스타킹
                                        button(type="button", name="styles", value="레이어드") 레이어드
                                        button(type="button", name="styles", value="링크체인") 링크체인
                                        button(type="button", name="styles", value="두줄") 두줄
                                        button(type="button", name="styles", value="뱅글") 뱅글
                                        button(type="button", name="styles", value="원석") 원석
                                        button(type="button", name="styles", value="컷팅") 컷팅
                                        button(type="button", name="styles", value="펫") 펫
                                        button(type="button", name="styles", value="연예인") 연예인
                                        button(type="button", name="styles", value="기타") 기타
                                    div(class="chackbox styleBox" id="ankletSt")
                                        button(type="button", name="styles", value="패션") 패션
                                        button(type="button", name="styles", value="아기제") 아기제품
                                        button(type="button", name="styles", value="종교") 종교
                                        button(type="button", name="styles", value="웨딩") 웨딩
                                        button(type="button", name="styles", value="대작") 대작
                                        button(type="button", name="styles", value="진주") 진주
                                        button(type="button", name="styles", value="다이아") 다이아
                                        button(type="button", name="styles", value="유색보") 유색보석
                                        button(type="button", name="styles", value="레이스") 레이스
                                        button(type="button", name="styles", value="볼") 볼
                                        button(type="button", name="styles", value="클립") 클립
                                        button(type="button", name="styles", value="기계체") 기계체인
                                        button(type="button", name="styles", value="모줄") 모줄
                                        button(type="button", name="styles", value="함마링") 함마링
                                        button(type="button", name="styles", value="각줄") 각줄
                                        button(type="button", name="styles", value="할로우") 할로우
                                        button(type="button", name="styles", value="오메가") 오메가
                                        button(type="button", name="styles", value="이태리") 이태리
                                        button(type="button", name="styles", value="면") 면
                                        button(type="button", name="styles", value="가죽") 가죽
                                        button(type="button", name="styles", value="캐스팅") 캐스팅
                                        button(type="button", name="styles", value="양장") 양장
                                        button(type="button", name="styles", value="고방") 고방
                                        button(type="button", name="styles", value="스타킹") 스타킹
                                        button(type="button", name="styles", value="레이어드") 레이어드
                                        button(type="button", name="styles", value="링크체인") 링크체인
                                        button(type="button", name="styles", value="두줄") 두줄
                                        button(type="button", name="styles", value="뱅글") 뱅글
                                        button(type="button", name="styles", value="원석") 원석
                                        button(type="button", name="styles", value="컷팅") 컷팅
                                        button(type="button", name="styles", value="펫") 펫
                                        button(type="button", name="styles", value="연예인") 연예인
                                        button(type="button", name="styles", value="기타") 기타
                                    div(class="chackbox styleBox" id="ringSt")
                                        button(type="button", name="styles", value="패션") 패션
                                        button(type="button", name="styles", value="아기제") 아기제품
                                        button(type="button", name="styles", value="종교") 종교
                                        button(type="button", name="styles", value="웨딩") 웨딩
                                        button(type="button", name="styles", value="대작") 대작
                                        button(type="button", name="styles", value="진주") 진주
                                        button(type="button", name="styles", value="다이아") 다이아
                                        button(type="button", name="styles", value="유색보") 유색보석
                                        button(type="button", name="styles", value="레이스") 레이스
                                        button(type="button", name="styles", value="볼") 볼
                                        button(type="button", name="styles", value="체인") 체인
                                        button(type="button", name="styles", value="미스링") 미스링
                                        button(type="button", name="styles", value="마담") 마담
                                        button(type="button", name="styles", value="커플링") 커플링
                                        button(type="button", name="styles", value="앵게이지") 앵게이지
                                        button(type="button", name="styles", value="애끼") 애끼
                                        button(type="button", name="styles", value="원석") 원석
                                        button(type="button", name="styles", value="컷팅") 컷팅
                                        button(type="button", name="styles", value="펫") 펫
                                        button(type="button", name="styles", value="연예인") 연예인
                                        button(type="button", name="styles", value="기타") 기타
                                    div(class="chackbox styleBox" id="etcSt")
                                        button(type="button", name="styles" value="브로찌") 브로찌
                                        button(type="button", name="styles" value="원석") 원석
                                        button(type="button", name="styles" value="합성") 합성
                                        button(type="button", name="styles" value="기념품") 기념품
                                        button(type="button", name="styles" value="진주") 진주
                                        button(type="button", name="styles" value="기타") 기타
                            div(class="row")
                                div(class="col-2 catalognanu") *소재
                                div(class="col-10 chackboxbox chackboxbox1")
                                    div(class="chackbox materialBox")
                                        button(type="button", name="material" value="실버") 실버
                                        button(type="button", name="material" value="10K") 10K
                                        button(type="button", name="material" value="14K") 14K
                                        button(type="button", name="material" value="18K") 18K
                                        button(type="button", name="material" value="22K") 22K
                                        button(type="button", name="material" value="순금-995") 순금-995
                                        button(type="button", name="material" value="순금-999") 순금-999
                                        button(type="button", name="material" value="PT") PT
                                        button(type="button", name="material" value="기타") 기타
                            div(class="row")
                                div(class="col-2 catalognanu") *중량
                                div(class="col-10 chackboxbox chackboxbox1")
                                    div(class="chackbox weightBox")    
                                        button(type="button" name="weight") 반돈
                                        button(type="button" name="weight") 1돈
                                        button(type="button" name="weight") 2돈
                                        button(type="button" name="weight") 3돈
                                        button(type="button" name="weight") 5돈
                                        button(type="button" name="weight") 7돈
                                        button(type="button" name="weight") 10돈
                                        button(type="button" name="weight") 30돈
                                        button(type="button" name="weight") 50돈
                                        button(type="button" name="weight") 100돈
                div(class="row")
                    div(class="col-12")
                        div(class="mtt mtt2")
                            span 카탈로그 정보
                div(class="wjdqhbox")
                    div(class="row")
                        div(class="col-3 col-sm-2 catalognanu") *공개 / 비공개설정
                        div(class="col-9 col-sm-4 conRdo")
                            div(class="allForm")
                                label(class="radiobox", for="open") 공개
                                input(type="radio", name="open", id="open", value="open") 
                                label(class="radiobox", for="close") 비공개
                                input(type="radio", name="open", id="close", value="Private" checked)
                        div(class="col-3 col-sm-2 catalognanu") 공개 순서 (브랜드페이지)
                        div(class="col-9 col-sm-4")
                            div(class="allForm")
                                input(class="inppp",name="brandpage" type="text", placeholder="숫자가 높은순으로 앞에 나오게 됩니다.")
                    div(class="row")
                        div(class="col-3 col-sm-2 catalognanu") *모델번호
                        div(class="col-9 col-sm-4")
                            div(class="allForm")
                                input(class="inppp", name="modelNumber", type="text", placeholder="모델번호", required)
                        div(class="col-3 col-sm-2 catalognanu") *제품명
                        div(class="col-9 col-sm-4")
                            div(class="allForm")
                                input(class="inppp", name="title", type="text", placeholder="제품명", required)
                    div(class="row")
                        div(class="col-3 col-sm-2 catalognanu") *제조사
                        div(class="col-9 col-sm-4")
                            div(class="allForm")
                                input(class="inppp", name="manufacturer", type="text", placeholder="제조사", required)
                                button(class="sltImg", type="button")
                                    img(class="sltImg", src="../../../static/images/ic-zoom-in-24-px@3x.png", alt="search")
                        div(class="col-3 col-sm-2 catalognanu") 제조번호
                        div(class="col-9 col-sm-4")
                            div(class="allForm")
                                input(class="inppp" type="text" name="manufacturerNumber" placeholder="제조번호")
                    div(class="row")
                        div(class="col-3 col-sm-2 catalognanu") 금(은)중량
                        div(class="col-9 col-sm-4")
                            div(class="allForm")
                                input(class="inppp", type="number", step=".01", name="goldWeight", placeholder="0")
                                span g
                        div(class="col-3 col-sm-2 catalognanu") 스톤 중량
                        div(class="col-9 col-sm-4")
                            div(class="allForm")
                                input(input class="inppp" type="number", step=".01", name="stoneWeight" placeholder="0")
                                span g
                    div(class="row")
                        div(class="col-3 col-sm-2 catalognanu") 사이즈
                        div(class="col-9 col-sm-4")
                            div(class="allForm")
                                input(class="inppp" type="text", name="size" placeholder="사이즈")
                        div(class="col-3 col-sm-2 catalognanu") 세트 코드
                        div(class="col-9 col-sm-4")
                            div(class="allForm")
                                input(class="inppp" type="text" name="setCode" placeholder="세트 코드")
                    div(class="row")
                        div(class="col-3 col-sm-2 catalognanu") 해시태그
                        div(class="col-9 col-sm-10")
                            div(class="hashi")
                    div(class="row")
                        div(class="col-3 col-sm-2 catalognanu") *상세 설명
                        div(class="col-9 col-sm-10")
                            div(class="tjfaudBox")
                                textarea(class="tjfaud", required, name="description", cols="30", rows="10" placeholder="상세 설명 *주의 카카오플러스친구,웹사이트,네이버 밴드,인스타,SNS 등을 홍보하지 말아주세요. 홍보시 제품 업로드가 취소되며, 누적시 입점취소됩니다. 이미업로드한 제품들 또한 수정 부탁드립니다. 네이버밴드 카카오스토리 타 웹사이트 링크 공유시 노출이안됩니다")
                div(class="row")
                    div(class="col-6")
                        div(class="mtt mtt2")
                            span 스톤정보
                    div(class="col-6 mttbox2")
                        div(class="mtt3")
                            button(id="stoneClickBtn", type="button") 추가하기
                div(class="row")
                    div(class="col-12")
                        table 
                            thead 
                                tr
                                    th 스톤명
                                    th *수량
                                    th 설명
                                    th 중량(개당)
                                    th 중량(총중량)
                                    th 매입단가(개당)
                                    th 매입단가(총가격)
                                    th 판매단가(개당)
                                    th 판매단가(총가격)
                                    th 삭제
                            tbody#stoneTbody
                                tr
                                    td
                                        div
                                            input(type="text" placeholder="스톤명", name="stoneName")
                                            img(class="sltImg" src="../../../../static/images/ic-zoom-in-24-px@3x.png" alt="검색")
                                    td
                                        div
                                            input(type="number" placeholder="수량" name="stoneQuantity")
                                    td
                                        div
                                            input(type="text" placeholder="설명", name="stoneDescription")
                                    td
                                        div
                                            input(type="number" placeholder="중량(개당)", name="stoneWeight2")
                                    td
                                        div
                                            input(type="number" placeholder="중량(총중량)")
                                    td
                                        div
                                            input(type="number" placeholder="매입단가(개당)", name="stonePurchasePrice")
                                    td
                                        div
                                            input(type="number" placeholder="매입단가(총가격)")
                                    td
                                        div
                                            input(type="number" placeholder="판매단가(개당)", name="stoneSellingPrice")
                                    td
                                        div
                                            input(type="number" placeholder="판매단가(총가격)")
                                    td
                                        button(type="button") 삭제
                                tr
                                    td
                                        div
                                            input(type="text" placeholder="스톤명", name="stoneName2")
                                            img(class="sltImg" src="../../../../static/images/ic-zoom-in-24-px@3x.png" alt="검색")
                                    td
                                        div
                                            input(type="number" placeholder="수량" name="stoneQuantity2")
                                    td
                                        div
                                            input(type="text" placeholder="설명", name="stoneDescription2")
                                    td
                                        div
                                            input(type="number" placeholder="중량(개당)", name="stoneWeight22")
                                    td
                                        div
                                            input(type="number" placeholder="중량(총중량)")
                                    td
                                        div
                                            input(type="number" placeholder="매입단가(개당)", name="stonePurchasePrice2")
                                    td
                                        div
                                            input(type="number" placeholder="매입단가(총가격)")
                                    td
                                        div
                                            input(type="number" placeholder="판매단가(개당)", name="stoneSellingPrice2")
                                    td
                                        div
                                            input(type="number" placeholder="판매단가(총가격)")
                                    td
                                        button(type="button") 삭제
                                tr
                                    td
                                        div
                                            input(type="text" placeholder="스톤명", name="stoneName2")
                                            img(class="sltImg" src="../../../../static/images/ic-zoom-in-24-px@3x.png" alt="검색")
                                    td
                                        div
                                            input(type="number" placeholder="수량" name="stoneQuantity2")
                                    td
                                        div
                                            input(type="text" placeholder="설명", name="stoneDescription2")
                                    td
                                        div
                                            input(type="number" placeholder="중량(개당)", name="stoneWeight22")
                                    td
                                        div
                                            input(type="number" placeholder="중량(총중량)")
                                    td
                                        div
                                            input(type="number" placeholder="매입단가(개당)", name="stonePurchasePrice2")
                                    td
                                        div
                                            input(type="number" placeholder="매입단가(총가격)")
                                    td
                                        div
                                            input(type="number" placeholder="판매단가(개당)", name="stoneSellingPrice2")
                                    td
                                        div
                                            input(type="number" placeholder="판매단가(총가격)")
                                    td
                                        button(type="button") 삭제
                            tfoot 
                                tr 
                                    td 
                                        div(class="tfootbox") 합계
                                    td
                                        div(class="tfootbox") -
                                    td
                                        div(class="tfootbox") -
                                    td
                                        div(class="tfootbox") -
                                    td
                                        div(class="tfootbox") -
                                    td
                                        div(class="tfootbox") -
                                    td
                                        div(class="tfootbox") -
                                    td
                                        div(class="tfootbox") -
                                    td
                                        div(class="tfootbox") -
                                    td
                                        div(class="tfootbox") -
                div(class="row")
                    div(class="col-12")
                        div(class="noto noto2")
                            span *주의
                            br
                            span 제품 노출을 위한 허위공임 기재시 제품 업로드 취소됩니다.
                            br
                            span 이미 업로드된 제품들 또한 수정 부탁드립니다.
                div(class="row")
                    div(class="col-12")
                        div(class="mtt mtt2")
                            span 카탈로그 공임/중량 정보
                div(class="container grabox")
                    div(class="row")
                        div(class="col-3 col-sm-1 catalognanu") 금(은) 중량
                        div(class="col-9 col-sm-3")
                            div(class="allForm")
                                input(class="inppp" type="number" placeholder="0")
                                span g 
                        div(class="col-3 col-sm-1 catalognanu") 기본공임
                        div(class="col-9 col-sm-3")
                            div(class="allForm")
                                input(class="inppp" type="number" placeholder="0", name="basicWage")
                                span 원
                        div(class="col-3 col-sm-1 catalognanu") 구매공임
                        div(class="col-9 col-sm-3")
                            div(class="allForm")
                                input(class="inppp", type="number" placeholder="0", name="purchaseWage")
                                span 원
                    div(class="row")
                        div(class="col-3 col-sm-1 catalognanu")
                        div(class="col-9 col-sm-3")
                        div(class="col-3 col-sm-1 catalognanu") 추가공임
                        div(class="col-9 col-sm-3")
                            div(class="allForm")
                                input(class="inppp" type="number" placeholder="0", name="additionWage")
                                span 원
                        div(class="col-3 col-sm-1 catalognanu")
                        div(class="col-9 col-sm-3")
                    div(class="row")
                        div(class="col-3 col-sm-1 catalognanu") 스톤중량
                        div(class="col-9 col-sm-3")
                            div(class="allForm")
                                input(class="inppp" type="number" placeholder="0")
                                span g
                        div(class="col-3 col-sm-1 catalognanu") 스톤공임(중)
                        div(class="col-9 col-sm-3")
                            div(class="allForm")
                                input(class="inppp" type="number" placeholder="0", name="stoneWage1")
                                span 원
                        div(class="col-3 col-sm-1 catalognanu") 알구매단가
                        div(class="col-9 col-sm-3")
                            div(class="allForm")
                                input(class="inppp" type="number" placeholder="0", name="eggPurchasePrice")
                                span 원
                    div(class="row")
                        div(class="col-3 col-sm-1 catalognanu")
                        div(class="col-9 col-sm-3")
                        div(class="col-3 col-sm-1 catalognanu") 스톤공임(보)
                        div(class="col-9 col-sm-3")
                            div(class="allForm")
                                input(class="inppp" type="number" placeholder="0", name="stoneWage2")
                                span 원
                        div(class="col-3 col-sm-1 catalognanu")
                        div(class="col-9 col-sm-3")
                    div(class="row")
                        div(class="col-3 col-sm-1 catalognanu pplcatn") 제품 중량
                        div(class="col-9 col-sm-3 pplcatn")
                            div(class="allForm")
                                input(class="inppp" type="number" placeholder="0")
                                span g
                        div(class="col-3 col-sm-1 catalognanu pplcatn") 총공임
                        div(class="col-9 col-sm-3 pplcatn")
                            div(class="allForm")
                                input(class="inppp" type="number" placeholder="0")
                                span 원
                        div(class="col-3 col-sm-1 catalognanu pplcatn") 총구매단가
                        div(class="col-9 col-sm-3 pplcatn")
                            div(class="allForm")
                                input(class="inppp" type="number" placeholder="0")
                                span 원
                div(class="row")
                    div(class="col-6")
                        div(class="mtt mtt2")
                            span 기타 공임 정보
                    div(class="col-6 mttbox2")
                        div(class="mtt3")
                            button(type="button") 추가하기
                div(class="row")
                    div(class="col-12")
                        table 
                            thead 
                                tr 
                                    th 이름
                                    th 가격(개당)
                                    th 가격(총가격)
                                    th 수량
                                    th 설명
                                    th 삭제
                div(class="row endbox")
                    div(class="col-12 btnbtn")
                        button(class="ctlogBox clossbtn") 취소
                        button(class="ctlogBox", type="submit") 등록