extends ../base.pug
include ../mixins/card
include ../mixins/table


block links
    link(rel="stylesheet", href="/static/css/cataloge/cataloge.css")
    link(rel="stylesheet", href="/static/css/components/footer.css")

block scripts 
    script(defer, src="/assets/js/catalogeMain.js") 


block content  
    div(class="container", id="src_and_crt")
        div(class="row")
            div(class="col-md-6")
                form(class="searchigbox", method="GET")
                    input(type="text", class="searching", name="keyword", placeholder="검색어를 입력하세요")
                    button(id="btn_searching", type="submit") 
                        i(class="las la-search")
            div(class="col-md-6")
                div(class="buttonbox")
                    div(class="click_box")
                        button(onClick="location.href='/cataloge/upload'") 제품등록
        div(class="row wjscpbox")
            div(class="wjscp")
                a(href="")
                    img(src="../../../static/images/ic-info-outline-24-px.png", alt="도움")
                if products
                    span 전체 #{products.length} 개 
                else
                    span 전체 #{user.products.length} 개 
                span(id="wjscpNum", class="hidden") (n) 개 선택됨
        div(class="row")
            div(class="col-3")
                div(class="filterbtn")
                    button 필터
            div(class="col-9 bro_box")
                div(class="card_bro brobx on") 카드형식
                div(class="table_bro brobx") 테이블형식
        div(class="row")
                    div(class="col-12")
                        div(class="mainck on")
                            div(class="row")
                                div(class="col-2 catalognanu") *성별
                                div(class="col-10 chackboxbox chackboxbox1")
                                    div(class="allForm")
                                        label(class="radiobox", for="man") 남자
                                            input(type="radio", name="gender", id="man", value="남성") 
                                        label(class="radiobox", for="woman") 여자
                                            input(type="radio", name="gender", id="woman", value="여성")
                                        //- label(class="radiobox", for="all") 전체
                                        //-     input(type="radio", name="gender", id="all", value="전체" checked)
                            div(class="row")
                                div(class="col-2 catalognanu") *나이대
                                div(class="col-10 chackboxbox chackboxbox1")
                                    div(class="chackbox ageBox")
                                        button(type="button", name="age", class="ageButton" value="영유아") 영유아
                                        button(type="button", name="age", class="ageButton" value="10대~20대") 10대~20대
                                        button(type="button", name="age", class="ageButton" value="30대~40대") 30대~40대
                                        button(type="button", name="age", class="ageButton" value="50대이상") 50대이상
                            div(class="row")
                                div(class="col-2 catalognanu") *부위
                                div(class="col-10 chackboxbox chackboxbox1")
                                    div(class="chackbox partBox")
                                        button(type="button", name="part" id="necklace" value="목걸이") 목걸이
                                        button(type="button", name="part" id="earring" value="귀걸이") 귀걸이
                                        button(type="button", name="part" id="bracelet" value="팔찌") 팔찌
                                        button(type="button", name="part" id="anklet" value="발찌") 발찌
                                        button(type="button", name="part" id="ring" value="반지") 반지
                                        button(type="button", name="part" id="etc" value="기타") 기타
                            div(class="row")
                                div(class="col-2 catalognanu") *스타일
                                div(class="col-10 chackboxbox chackboxbox1")
                                    div(class="chackbox styleBox" id="necklaceSt")
                                        button(type="button", name="styles", value="패션") 패션
                                        button(type="button", name="styles", value="아기제") 아기제품
                                        button(type="button", name="styles", value="종교") 종교
                                        button(type="button", name="styles", value="웨딩") 웨딩
                                        button(type="button", name="styles", value="대작") 대작
                                        button(type="button", name="styles", value="진주") 진주
                                        button(type="button", name="styles", value="다이아") 다이아
                                        button(type="button", name="styles", value="유색보") 유색보석
                                        button(type="button", name="styles", value="레이스") 레이스
                                        button(type="button", name="styles", value="볼") 볼
                                        button(type="button", name="styles", value="클립") 클립
                                        button(type="button", name="styles", value="기계체") 기계체인
                                        button(type="button", name="styles", value="모줄") 모줄
                                        button(type="button", name="styles", value="함마링") 함마링
                                        button(type="button", name="styles", value="각줄") 각줄
                                        button(type="button", name="styles", value="할로우") 할로우
                                        button(type="button", name="styles", value="오메가") 오메가
                                        button(type="button", name="styles", value="이태리") 이태리
                                        button(type="button", name="styles", value="면") 면
                                        button(type="button", name="styles", value="가죽") 가죽
                                        button(type="button", name="styles", value="캐스팅") 캐스팅
                                        button(type="button", name="styles", value="양장") 양장
                                        button(type="button", name="styles", value="고방") 고방
                                        button(type="button", name="styles", value="스타킹") 스타킹
                                        button(type="button", name="styles", value="초커") 초커
                                        button(type="button", name="styles", value="볼드") 볼드
                                        button(type="button", name="styles", value="이니셜") 이니셜
                                        button(type="button", name="styles", value="롱") 롱
                                        button(type="button", name="styles", value="펜던트") 펜던트
                                        button(type="button", name="styles", value="심플") 심플
                                        button(type="button", name="styles", value="일체형") 일체형
                                        button(type="button", name="styles", value="뱅글") 뱅글
                                        button(type="button", name="styles", value="원석") 원석
                                        button(type="button", name="styles", value="컷팅") 컷팅
                                        button(type="button", name="styles", value="펫") 펫
                                        button(type="button", name="styles", value="연예인") 연예인
                                        button(type="button", name="styles", value="기타") 기타
                                    div(class="chackbox styleBox" id="earringSt")
                                        button(type="button", name="styles", value="패션") 패션
                                        button(type="button", name="styles", value="아기제") 아기제품
                                        button(type="button", name="styles", value="종교") 종교
                                        button(type="button", name="styles", value="웨딩") 웨딩
                                        button(type="button", name="styles", value="대작") 대작
                                        button(type="button", name="styles", value="진주") 진주
                                        button(type="button", name="styles", value="다이아") 다이아
                                        button(type="button", name="styles", value="유색보석") 유색보석
                                        button(type="button", name="styles", value="레이스") 레이스
                                        button(type="button", name="styles", value="볼") 볼
                                        button(type="button", name="styles", value="클립") 클립
                                        button(type="button", name="styles", value="버튼") 버튼
                                        button(type="button", name="styles", value="드롭") 드롭
                                        button(type="button", name="styles", value="링") 링
                                        button(type="button", name="styles", value="투핀/투링") 투핀/투링
                                        button(type="button", name="styles", value="피어싱") 피어싱
                                        button(type="button", name="styles", value="심플") 심플
                                        button(type="button", name="styles", value="원터치") 원터치
                                        button(type="button", name="styles", value="침") 침
                                        button(type="button", name="styles", value="낚싯줄") 낚싯줄
                                        button(type="button", name="styles", value="뱅글") 뱅글
                                        button(type="button", name="styles", value="원석") 원석
                                        button(type="button", name="styles", value="컷팅") 컷팅
                                        button(type="button", name="styles", value="펫") 펫
                                        button(type="button", name="styles", value="연예인") 연예인
                                        button(type="button", name="styles", value="기타") 기타
                                    div(class="chackbox styleBox" id="braceletSt")
                                        button(type="button", name="styles", value="패션") 패션
                                        button(type="button", name="styles", value="아기제") 아기제품
                                        button(type="button", name="styles", value="종교") 종교
                                        button(type="button", name="styles", value="웨딩") 웨딩
                                        button(type="button", name="styles", value="대작") 대작
                                        button(type="button", name="styles", value="진주") 진주
                                        button(type="button", name="styles", value="다이아") 다이아
                                        button(type="button", name="styles", value="유색보") 유색보석
                                        button(type="button", name="styles", value="레이스") 레이스
                                        button(type="button", name="styles", value="볼") 볼
                                        button(type="button", name="styles", value="클립") 클립
                                        button(type="button", name="styles", value="기계체") 기계체인
                                        button(type="button", name="styles", value="모줄") 모줄
                                        button(type="button", name="styles", value="함마링") 함마링
                                        button(type="button", name="styles", value="각줄") 각줄
                                        button(type="button", name="styles", value="할로우") 할로우
                                        button(type="button", name="styles", value="오메가") 오메가
                                        button(type="button", name="styles", value="이태리") 이태리
                                        button(type="button", name="styles", value="면") 면
                                        button(type="button", name="styles", value="가죽") 가죽
                                        button(type="button", name="styles", value="캐스팅") 캐스팅
                                        button(type="button", name="styles", value="양장") 양장
                                        button(type="button", name="styles", value="고방") 고방
                                        button(type="button", name="styles", value="스타킹") 스타킹
                                        button(type="button", name="styles", value="레이어드") 레이어드
                                        button(type="button", name="styles", value="링크체인") 링크체인
                                        button(type="button", name="styles", value="두줄") 두줄
                                        button(type="button", name="styles", value="뱅글") 뱅글
                                        button(type="button", name="styles", value="원석") 원석
                                        button(type="button", name="styles", value="컷팅") 컷팅
                                        button(type="button", name="styles", value="펫") 펫
                                        button(type="button", name="styles", value="연예인") 연예인
                                        button(type="button", name="styles", value="기타") 기타
                                    div(class="chackbox styleBox" id="ankletSt")
                                        button(type="button", name="styles", value="패션") 패션
                                        button(type="button", name="styles", value="아기제") 아기제품
                                        button(type="button", name="styles", value="종교") 종교
                                        button(type="button", name="styles", value="웨딩") 웨딩
                                        button(type="button", name="styles", value="대작") 대작
                                        button(type="button", name="styles", value="진주") 진주
                                        button(type="button", name="styles", value="다이아") 다이아
                                        button(type="button", name="styles", value="유색보") 유색보석
                                        button(type="button", name="styles", value="레이스") 레이스
                                        button(type="button", name="styles", value="볼") 볼
                                        button(type="button", name="styles", value="클립") 클립
                                        button(type="button", name="styles", value="기계체") 기계체인
                                        button(type="button", name="styles", value="모줄") 모줄
                                        button(type="button", name="styles", value="함마링") 함마링
                                        button(type="button", name="styles", value="각줄") 각줄
                                        button(type="button", name="styles", value="할로우") 할로우
                                        button(type="button", name="styles", value="오메가") 오메가
                                        button(type="button", name="styles", value="이태리") 이태리
                                        button(type="button", name="styles", value="면") 면
                                        button(type="button", name="styles", value="가죽") 가죽
                                        button(type="button", name="styles", value="캐스팅") 캐스팅
                                        button(type="button", name="styles", value="양장") 양장
                                        button(type="button", name="styles", value="고방") 고방
                                        button(type="button", name="styles", value="스타킹") 스타킹
                                        button(type="button", name="styles", value="레이어드") 레이어드
                                        button(type="button", name="styles", value="링크체인") 링크체인
                                        button(type="button", name="styles", value="두줄") 두줄
                                        button(type="button", name="styles", value="뱅글") 뱅글
                                        button(type="button", name="styles", value="원석") 원석
                                        button(type="button", name="styles", value="컷팅") 컷팅
                                        button(type="button", name="styles", value="펫") 펫
                                        button(type="button", name="styles", value="연예인") 연예인
                                        button(type="button", name="styles", value="기타") 기타
                                    div(class="chackbox styleBox" id="ringSt")
                                        button(type="button", name="styles", value="패션") 패션
                                        button(type="button", name="styles", value="아기제") 아기제품
                                        button(type="button", name="styles", value="종교") 종교
                                        button(type="button", name="styles", value="웨딩") 웨딩
                                        button(type="button", name="styles", value="대작") 대작
                                        button(type="button", name="styles", value="진주") 진주
                                        button(type="button", name="styles", value="다이아") 다이아
                                        button(type="button", name="styles", value="유색보") 유색보석
                                        button(type="button", name="styles", value="레이스") 레이스
                                        button(type="button", name="styles", value="볼") 볼
                                        button(type="button", name="styles", value="체인") 체인
                                        button(type="button", name="styles", value="미스링") 미스링
                                        button(type="button", name="styles", value="마담") 마담
                                        button(type="button", name="styles", value="커플링") 커플링
                                        button(type="button", name="styles", value="앵게이지") 앵게이지
                                        button(type="button", name="styles", value="애끼") 애끼
                                        button(type="button", name="styles", value="원석") 원석
                                        button(type="button", name="styles", value="컷팅") 컷팅
                                        button(type="button", name="styles", value="펫") 펫
                                        button(type="button", name="styles", value="연예인") 연예인
                                        button(type="button", name="styles", value="기타") 기타
                                    div(class="chackbox styleBox" id="etcSt")
                                        button(type="button", name="styles" value="브로찌") 브로찌
                                        button(type="button", name="styles" value="원석") 원석
                                        button(type="button", name="styles" value="합성") 합성
                                        button(type="button", name="styles" value="기념품") 기념품
                                        button(type="button", name="styles" value="진주") 진주
                                        button(type="button", name="styles" value="기타") 기타
                            div(class="row")
                                div(class="col-2 catalognanu") *소재
                                div(class="col-10 chackboxbox chackboxbox1")
                                    div(class="chackbox materialBox")
                                        button(type="button", name="material" value="실버") 실버
                                        button(type="button", name="material" value="10K") 10K
                                        button(type="button", name="material" value="14K") 14K
                                        button(type="button", name="material" value="18K") 18K
                                        button(type="button", name="material" value="22K") 22K
                                        button(type="button", name="material" value="순금-995") 순금-995
                                        button(type="button", name="material" value="순금-999") 순금-999
                                        button(type="button", name="material" value="PT") PT
                                        button(type="button", name="material" value="기타") 기타
                            div(class="row")
                                div(class="col-2 catalognanu") *중량
                                div(class="col-10 chackboxbox chackboxbox1")
                                    div(class="chackbox weightBox")    
                                        button(type="button" name="weight" value="1.875") 반돈
                                        button(type="button" name="weight" value="3.75") 1돈
                                        button(type="button" name="weight" value="7.5") 2돈
                                        button(type="button" name="weight" value="11.25") 3돈
                                        button(type="button" name="weight" value="18.75") 5돈
                                        button(type="button" name="weight" value="26.25") 7돈
                                        button(type="button" name="weight" value="37.5") 10돈
                                        button(type="button" name="weight" value="112.5") 30돈
                                        button(type="button" name="weight" value="187.5") 50돈
                                        button(type="button" name="weight" value="375") 100돈
    form(method="POST" id="catalogePost")     
        div(class="container")
            div(class="catalog_card")
                div(class="row")
                    div(class="col-2")
                        div(class="clickAndChack")
                            img(src="../../../static/images/select_off.png", alt="select_off")
                            img(src="../../../static/images/select_on.png", alt="select_on")
                            span 전체선택
                    div(class="col-10")
                        div(class="selectbox")
                            select(name="page-view-counter", id="select10_50") 
                                option(value="10View") 10View
                                option(value="20View") 20View
                                option(value="30View") 30View
                                option(value="50View") 50View
                            span 선택 목록보기
                div(class="mainContainerCard on", id="cardTest")
                    if products   
                        each product in products 
                            +card(product)
                        else    
                            div 
                    else 
                        each product in user.products 
                            +card(product)
                        else    
                            div 
                div(class="mainContTable")
                    table(id="tableTest")
                        thead 
                            tr 
                                th(rowspan="2")
                                    div
                                        input(type="checkbox", name="clickThis", id="clickThis") 
                                th(rowspan="2") 모델
                                th(rowspan="2") 함량
                                th 금중량
                                th(rowspan="2") 개당알수
                                th(colspan="2") 공임단가
                                th(rowspan="2") 수량
                                th(colspan="3") VAT별도
                            tr 
                                th 알중량
                                th 기/추
                                th 중/보
                                th 공임함
                                th 금값
                                th 소계
                        if products
                            each product in products
                                +table(product)
                            else 
                                div
                        else   
                            each product in user.products 
                                +table(product)
                            else 
                                div
                div(class="col-12")
                    div(class="numlist")
                        div(class="numnum on")
                            span 1
            nav(class="bot")
                div(class="container")
                    div(class="row")
                        div(class="col-12")
                            div(class="botbox")
                                ul(class="botmnul") 
                                    button#hold(type="hidden",name="hold", value="hold")
                                    li 
                                        img(src="../../../static/images/삭제하기.png", alt="삭제하기")
                                        input.moveBtn(type="submit", name="deleteBtn", value="삭제하기")
                                    li 
                                        img(src="../../../static/images/공임변경.png", alt="공임 변경")
                                        span#onbutton 공임 변경
                                    li 
                                        img(src="../../../static/images/재고등록.png", alt="재고 등록")
                                        input.moveBtn(value="재고 등록", type="submit", name="movestock")
                                    li 
                                        img(src="../../../static/images/주문등록.png", alt="주문 등록")
                                        input.moveBtn(value="주문 등록", type="submit", name="moveorder")
                                    li 
                                        img(src="../../../static/images/주문등록.png", alt="수리 등록")
                                        input.moveBtn(value="수리 등록", type="submit", name="moverepair")
                                    li 
                                        img(src="../../../static/images/판매등록 (1).png", alt="판매 등록")
                                        input.moveBtn(value="판매 등록", type="submit", name="movesale")
                                    li 
                                        img(src="../../../static/images/대여등록 (1).png", alt="대여 등록")
                                        input.moveBtn(value="대여 등록", type="submit", name="moverent")

    include ../partials/footer
        div#wagebox(class="")
            div#wageboxcent
            div.wagewage.container
                div.row.wage1
                    div.col-12
                        span 공임비 일괄 수정
                div.row.wage2
                    div.col-12.wageInput
                        label(for="basicWage") 
                            span 기본 공임
                        div
                            input(type="number", name="basicWage", form="catalogePost" id="basicWage", placeholder="입력") 
                        span 원
                    div.col-12.wageInput
                        label(for="additionWage") 
                            span 추가 공임
                        div
                            input(type="number", name="additionWage", form="catalogePost" id="additionWage", placeholder="입력") 
                        span 원
                div.row.wage3
                    .col-12
                        span 변경할 가격을 적어주세요 <br> ex)-4000 or 4000
                div.row.wage4
                    div.col-12
                        button(type="button", id="offbutton") 닫기
                        button(name="wage", type="submit" form="catalogePost" value="수정") 수정