extends ../base.pug

block content 
    if errorMessage
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        label(for="catalogeimg") 제품이미지
        input(name="catalogeimg", type="file", required, id="catalogeimg", accept="image/*")
        input(name="title", placeholder="Title", required, type="text")  
        input(name="description", placeholder="Description", required, type="text")
        label(for="man") 남자
        input(type="radio", name="gender", value="남자", id="man")
        br  
        label(for="wuman") 여자
        input(type="radio", name="gender", value="여자", id="wuman")  
        br
        label(for="all") 전체
        input(type="radio", name="gender", value="전체", id="all")  
        input(value="등록", type="submit")