@charset "utf-8";

/*  주문관리  */



.stonemain {
    margin-top: 150px;
    position: relative;
}

.spaceBox{
    margin-bottom: 15px;
    justify-content: space-between;
}


.stoneFree {
    display: flex;
    font-size: 28px;
    font-weight: 700;
}


.stoneFree a {
    position: relative;
}

.stoneFree a img {
    position: absolute;
    top: 5px;
}

.stoneSavebox {
    display: flex;
    justify-content: flex-end;
}

.stoneSave {
    margin: 0;
    padding: 0;
}

.stoneSave button {
    width: 100%;
    height: 58px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #ffaa34;
    color: #fff;
    font-weight: 500;
    box-shadow: 1px 1px 3px 1px #999;
}

.searchMyBox {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
}


#searchbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.searching {
    margin: 5px 0 5px 0;
    padding: 5px 12px 4px 8px;
    width: 100%;
    height: 38px;
    border: 1px solid #999;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#btn_searching {
    margin: 0;
    width: 38px;
    font-size: 21px;
    border-radius: 0 5px 5px 0;
    line-height: 1;
    height: 38px;
    border: none;
    font-weight: bold;
    color: #fff;
    background-color: #333;
}

#btn_searching:focus{
    box-shadow: 0 0 3px 1px #ffaa34;
    border: 1px solid #fc9300;
    outline: none;   
}

.deleteOrViewBox{
    margin-top: 19px;
    display: flex;
    justify-content: flex-end;
}

.deleteOrView{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    
    line-height: 1;
    vertical-align: bottom;
}

.dVBox{
    margin: 0;
    display: flex;
    /* width: 100%; */
    align-items: center;
    position: relative;
    justify-content: flex-end;
    height: 38px;
}

.dVBox img{
    position: absolute;
    top: 54%;
    left: 15px;
    transform: translateY(-50%);
}

.deleteMan{
    margin-right: 30px;
    width: 92px ;
    cursor: pointer;
}


#select10_50 {
    padding: 4px 10px 7px 10px;
    width: 92px;
    height: 32px;
    border: 1px solid rgba(153, 153, 153, 0.5);
    background: #f1f5f7 url("../../images/ic_arrow_drop_down_24px.png") no-repeat 91% 50%;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    font-family: Noto sans KR;
    appearance: none;
}
#select10_50::-ms-expand {
    display: none;
}

.calinder{
    width: 30px;
    height: 30px;
    text-align:center;
    background-color: #f1f5f7;
    border: 1px solid rgba(153, 153, 153, 0.5);
    border-right: none;
}

.cal1{
    border-radius: 4px 0 0 4px;
}

.calinder img{
    width: 16px;
}

.calData{
    /* padding-left: 10px; */
    width: 130px;
    height: 30px;
    border: 1px solid rgba(153, 153, 153, 0.5);
    font-size: 12px;
    color: #444;
    display: flex;
    align-items: center;
}

.calData input{
    padding-left: 10px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.calD1{
    border-right: none;
}

.calD2{
    border-radius: 0 4px 4px 0;
}

#why_do_this{
    margin-left: 10px;
    padding: 4px 10px 7px 10px;
    width: 92px;
    height: 32px;
    border: 1px solid rgba(153, 153, 153, 0.5);
    background: #ffffff url("../../images/ic_arrow_drop_down_24px.png") no-repeat 91% 50%;
    border-radius: 5px;
    color: #444;
    font-size: 12px;
    font-family: Noto sans KR;
    appearance: none;
}

#why_do_this::-ms-expand {
    display: none;
}


.wichbox{
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
}


#sortselect{
  
    padding: 4px 10px 7px 10px;
    width: 92px;
    height: 32px;
    border: 1px solid rgb(153, 153, 153);
    background: #ffffff url("../../images/ic_arrow_drop_down_24px.png") no-repeat 91% 50%;
    border-radius: 5px;
    color: #444;
    font-size: 12px;
    font-family: Noto sans KR;
    appearance: none;
}

#Ascending{
    margin-left: 10px;
    padding: 4px 10px 7px 10px;
    width: 92px;
    height: 32px;
    border: 1px solid rgb(153, 153, 153);
    background: #ffffff url("../../images/ic_arrow_drop_down_24px.png") no-repeat 91% 50%;
    border-radius: 5px;
    color: #444;
    font-size: 12px;
    font-family: Noto sans KR;
    appearance: none;
}

.filterselect{
    padding-top: 15px;
    display: flex;
    justify-content: flex-start;
}



/* 표 */
.tableTheTableBox{
    margin: 0 auto;
    width: 80%;
}

.tableTheTable{
    padding-bottom: 15px;
}

.tableTheTablebox{
    padding-bottom: 20px;
    width: 100%;
    overflow-x: none;
}


.tableTheTable table{

    width: 100%;
    min-width: 1200px;
    font-size: 14px;
}

.tableTheTable thead{
    background-color: #f1f5f7;
}


.tableTheTable th{
    height: 50px;
    border: 1px solid rgba(153, 153, 153, 0.3);
}

.tableTheTable td{
    height: 55px;
    border: 1px solid rgba(153, 153, 153, 0.3);
}

.nopaddingbox{
    padding: 0;
}


.listlist{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}


.listlist button{
    margin-left: 10px;
    text-decoration: none;
    color: #007bff;
    background-color: #fff;
    border: none;
    outline: none;
}
.listlist button:focus{
    border: none;
    outline: none; 
}


/* 하단 숫자박스 */

.numlist {
    margin: 52px 0 116px 0;
    display: flex;
    justify-content: center;

}

.numnum {
    position: relative;

    width: 36px;
    height: 36px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 7px;
}

.numnum.on {
    background-color: #999;
    color: #fff;
}

.numnum span {
    position: absolute;

    line-height: 1;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media (max-width: 880px) {
    .tableTheTableBox{
        width: 100%;
    }


}

@media (max-width: 1400px) {
    .tableTheTablebox{
        overflow-x: scroll;
    }

}

.orderTr td{
    
    font-size: 14px;
}

.orderTd {
    padding-left: 15px;
    text-align: left;
}

.clickImg{
    position: relative;
    width: 72px;
    height: 55px;
}
.clickImg img{
    width: 95%;
    height: 100%;
}

.orderQuantity{
    display: inline-block;
    height: 25px;
}

.changesStart {
    width: 100%;
    height: 0%;
    position: fixed;
    top: 0;
    z-index: 999999;
    overflow: hidden;
}

.changesStart.on{
    height: 100%;
}

#bgbg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity .5s;
}

.changesStart.on #bgbg{
    opacity: 1;
}

.changeBox{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 193px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    transition: top .5s, opacity .5s;
}

.change1.on{
    top: 50%;
    opacity: 1;
}
.change2.on{
    top: 50%;
    opacity: 1;
}
.change3.on{
    top: 50%;
    opacity: 1;
}
.change4.on{
    top: 50%;
    opacity: 1;
}

.changeTitle{
    padding: 6px;
    width: 400px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid rgba(153, 153, 153, 0.445);
    background-color: #f1f5f7;
    margin-bottom: 20px;

}

.changeBody{
    margin-bottom: 30px;
    align-items: center;
}

.changeBody2{
    padding-right: 0;
}

.changeBodyBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #ffd8a2;
}
.changeBodyselect select{
    padding-left: 5px;
    width: 100%;
    height: 32px;
    font-size: 14px;
    background: #f0edea url("../../images/ic_arrow_drop_down_24px.png") no-repeat 91% 50%;
    appearance: none;
}

.changeBodyselect select:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 5px 1px #fc9300;
}

.changeBodyselect input{
    padding-left: 5px;
    width: 100%;
    height: 32px;
    font-size: 14px;
}

.changeBodyButton{
    display: flex;
    justify-content: end;
}

.changeBodyButton button{
    margin: 0 5px;
    width: 92px;
    height: 36px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background-color: #8600FC;
}

.changeBodyButton button:first-child{
    color: #666;
    background-color: #dbb3ff;
}

.orderStocks{
    /* display: inline; */
    margin: 0 auto;
    width: 15px;
    background-color: #ffaa34a1;
    border-radius: 3px;
    border: none;
    /* box-shadow: 0 0 2px 1px #ffaa34; */
    font-size: 12px;
    color: #8600fc;
    text-align: center;
}

#delBtn{
    background-color: #fff;
    border: none;
    outline: none;
}