extends ../base
include ../mixins/repairmaintable
include ../mixins/ordermainclients

block links
    link(rel="stylesheet", href="/static/css/repair/repairmain.css")
    link(rel="stylesheet", href="/static/css/components/footer.css")

block scripts 
    script(src="/assets/js/repairMain.js") 

block content
    div(class="container stonemain")
        div(class="row spaceBox")
            div(class="col-sm-6 col-12")
                div(class="stoneFree")
                    span #{pageTitle}
                    span (전체 n개)
                    a(href="")
                        img(src="../../../../static/images/ic-info-outline-24-px.png", alt="도움") 
            div(class="col-12 col-md-6 col-lg-4 stoneSavebox")
                div(class="col-5 col-md-6 col-lg-5 stoneSave")
                    button(type="button", onclick="location=`/repair/upload`") 수리등록
        div(class="row")
            div(class="col-sm-12 col-md-5 col-lg-4 searchMyBox")
                div(class="calinder cal1" )
                    img(src="../../../../static/images/calendar.png" alt="calendar" )
                div(class="calData calD1")
                    input#calD1(type="text")
                div(class="calinder cal2" )
                    img(src="../../../../static/images/calendar.png" alt="calendar" )
                div(class="calData calD2")
                    input#calD2(type="text")
                select(name="why_do_this" id="why_do_this") 
                    option(value="구분") 구분
                    option(value="접수일") 접수일
                    option(value="출고일") 출고일
            div(class="col-sm-12 col-md-6 col-lg-3 wichbox")
                select(name="sortselect" id="sortselect") 
                    option(value="정렬") 정렬
                    option(value="출고일") 출고일
                    option(value="접수일") 접수일
                    option(value="모델번호") 모델번호
                    option(value="사이즈") 사이즈    
                select(name="sortselect" id="sortselect") 
                    option(value="정렬순서") 정렬순서
                    option(value="오름차순") 오름차순
                    option(value="내림차순") 내림차순
            div(class="col-md-12 col-lg-5")
                div(id="searchbox")
                    input(class="searching" type="text" placeholder="검색어를 입력하세요")
                    button(id="btn_searching")
                        i(class="las la-search")        
    form(method="post")     
        .container    
            div(class="row deleteOrViewBox")    
                div(class="col-md-12 col-lg-6 filterselect")
                    select(name="sortselect", id="sortselect") 
                        option(value="필터") 필터
                        option(value="함량") 함량
                        option(value="색상") 색상
                        option(value="단계") 단계
                        option(value="거래처") 거래처
                        option(value="제조사") 제조사
                    select(name="sortselect", id="sortselect")
                        option(value="목록") 목록
                        //- option(value="목록") 목록
                div(class="col-md-8 col-lg-6 deleteOrView")
                        div(class="deleteMan dVBox")
                            img(src="../../../static/images/삭제하기.png", alt="삭제하기")
                            button#delBtn(type="submit", name="deleteBtn" value="삭제하기") 삭제하기
                        div(class="ViewMan dVBox")
                            select(name="page-view-counter" id="select10_50") 
                                option(value="10View") 10View
                                option(value="20View") 20View
                                option(value="30View") 30View 
        div(class="container")
            div(class="row ttaabblleeBox")
                div(class="ttaabbllee")
                    div(class="col-12")
                        table 
                            thead 
                                tr 
                                    th(width="3%") No
                                    th(width="2%") 
                                        input(name="clickAll" id="checkedAll" type="checkbox")
                                    th(width="7.5%") 출고일 <br> 접수일
                                    th(width="10%") 거래처 <br>수리번호
                                    th(width="5%") 사진
                                    th(width="10%") 모델번호
                                    th(width="5%") 함량 <br> 색상
                                    th(width="4%") 메인 <br> 보조
                                    th(width="7%") 사이즈
                                    th(width="3%") 수량
                                    th(width="8%") 비고
                                    th(width="8%") 제조사 <br> 제조No
                                    th(width="7%") 단계 구성
                            tbody 
                                if repair 
                                    each repairs in repair 
                                        +repairMainTable(repairs)
                                else
            div(class="row")
                div(class="col-12")
                    div(class="listlist")
                        span 채크된 것
                        button(type="button")#chang1.changeBtn 단계변경
                        button(type="button")#chang2.changeBtn 접수일변경
                        button(type="button")#chang3.changeBtn 출고일변경
                        button(type="button")#chang4.changeBtn 거래처변경
                        button(name="changeButton5" type="submit" value="재고등록")#chang5.changeBtn 재고등록
                        button(name="changeButton6" type="submit" value="판매등록")#chang6.changeBtn 판매등록
        div(class="col-12")
            div(class="numlist")
                div(class="numnum on")
                    span 1
        include ../partials/footer
        .changesStart
                #bgbg 
                .container.changeBox.change1 
                    .row.changeTitle
                        .col-12
                            span 단계 변경
                    .row.changeBody
                        .col-4.changeBody2
                            div.changeBodyBox
                                span 단계
                        .col-8.changeBodyselect
                            select(name="gubun") 
                                option(value="접수") 접수 
                                option(value="생산") 생산
                                option(value="재고") 재고
                                option(value="출고") 출고
                    .row
                        .col-4 
                        .col-8.changeBodyButton
                            button.closeChangeBox(type="button") 닫기
                            button(type="submit" name="changeButton1" value="수정") 수정
                .container.changeBox.change2
                    .row.changeTitle
                        .col-12
                            span 접수일 변경
                    .row.changeBody
                        .col-4.changeBody2
                            div.changeBodyBox
                                span 단계
                        .col-8.changeBodyselect
                            input(type="text" name="registrationdate")
                    .row
                        .col-4 
                        .col-8.changeBodyButton
                            button.closeChangeBox(type="button") 닫기
                            button(type="submit" name="changeButton2" value="수정") 수정
                .container.changeBox.change3    
                    .row.changeTitle
                        .col-12
                            span 출고일 변경
                    .row.changeBody
                        .col-4.changeBody2
                            div.changeBodyBox
                                span 단계
                        .col-8.changeBodyselect
                            input(type="text" name="releasedate")
                    .row
                        .col-4 
                        .col-8.changeBodyButton
                            button.closeChangeBox(type="button") 닫기
                            button(type="submit" name="changeButton3" value="수정") 수정
                .container.changeBox.change4   
                    .row.changeTitle
                        .col-12
                            span 거래처 변경
                    .row.changeBody
                        .col-4.changeBody2
                            div.changeBodyBox
                                span 단계
                        .col-8.changeBodyselect
                            select(name="account")
                                if client
                                    each clients in client
                                        +orderMainClient(clients)
                                else
                    .row
                        .col-4 
                        .col-8.changeBodyButton
                            button.closeChangeBox(type="button") 닫기
                            button(type="submit" name="changeButton4" value="수정") 수정