#MOVE_TOP_BTN {
    position: fixed;
    right: 5px;
    bottom: 68px;
    width: 50px;
    height: 50px;
    display: none;
    z-index: 999
}

#MOVE_TOP_BTN img {
    width: 100%;
    height: 100%
}

.main-page-62 {
    margin-right: 0
}

.navbar {
    background: #1d1a1a !important;
    padding-top: 10px;
    padding-bottom: 10px
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    padding-right: .5rem;
    padding-left: .5rem
}

.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all .3s ease-in-out
}

.scrolled-up {
    transform: translateY(0);
    transition: all .3s ease-in-out
}

.nav-item {
    background: #1d1a1a
}

.main-content {
    margin-top: 60px
}

.page-top {
    width: 100%;
    height: 640px;
    background: url(/public/images/mainpage/main_bg수정.png);
    background-size: cover;
    background-position: center
}

.main-page {
    height: 767px
}

.main-page-1 div {
    justify-content: center;
    margin-top: 96px
}

.main-page-1 span {
    font-family: Noto Sans KR;
    font-size: 38px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: -4.5px;
    text-align: center;
    color: #333
}

.main-page-2 div {
    justify-content: center;
    margin-top: 24px
}

.main-page-2 span {
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -1.2px;
    text-align: center;
    color: #333
}

.main-page-3 .main-page-image {
    display: flex;
    justify-content: space-between;
    margin-top: 112px
}

.main-page-3 .main-page-image img {
    width: 213px;
    height: 60px
}

.page-forth,
.page-second {
    background-color: #f5f5f6
}

.main-page2 {
    height: 700px
}

.main-page-21 {
    justify-content: center
}

.des-div {
    justify-content: center
}

.main-page-21 .main-page-21-dear-div {
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -1.2px;
    text-align: center;
    color: #f28f1a
}

.main-page-21 .main-page-21-big-span {
    font-family: Noto Sans KR;
    font-size: 42px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -4.5px;
    text-align: center;
    color: #333
}

.main-page-21 .main-page-21-detail-div {
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -1.2px;
    text-align: center;
    color: #333;
    margin-top: 32px
}

.img-box-div {
    display: flex;
    justify-content: center
}

.main-page-22-img-div {
    width: 160px;
    height: 160px
}

.main-page-22-img-div img {
    width: 100%;
    height: 100%
}

.main-page-22-des-div {
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -.9px;
    text-align: center;
    color: #333;
    margin-top: 24px
}

.main-page-22-sub-title-div {
    font-family: Noto Sans KR;
    font-size: 30px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -5px;
    text-align: center;
    color: #ffaa34;
    margin-top: 12px
}

.main-page-22-1 {
    justify-content: center
}

.page-fifth,
.page-third {
    background-color: #fff;
    max-height: 700px
}

.main-page3,
.main-page5 {
    height: 700px
}

.main-page-3-col-box {
    height: 706px
}

.div-31-img-div {
    margin-left: 10.2% !important;
    max-width: 206.3px;
    max-height: 413.8px;
    margin-top: 12.6%;
    width: 100%;
    z-index: 4;
    height: 100%
}

.div-31-img-div div {
    width: 100%;
    height: 100%
}

.swiper1 {
    height: 100%
}

.page-3-phone-cover {
    position: absolute;
    max-width: 362.8px;
    max-height: 706px;
    width: 100%;
    height: 100%;
    z-index: 30
}

.page-3-phone-cover img {
    width: 100%;
    height: auto
}

.phone-cover-3 {
    height: 100%;
    width: 100%;
    z-index: 10
}

.te2 {
    position: absolute;
    top: -10%;
    margin-left: -15%
}

.swiper5 img {
    width: 100%;
    height: 100%;
    z-index: 3
}

.div-31-img-div img {
    width: 100%;
    height: auto;
    z-index: 4
}

.main-page3 {
    overflow: visible
}

.main-page-32-dear-div {
    margin-top: 36px;
    margin-bottom: 10px;
    font-family: Noto Sans KR;
    font-size: 24px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -1.2px;
    text-align: center;
    color: #ffaa34;
    display: flex;
    justify-content: left
}

.main-page-32-dear-div div {
    padding-left: 19px
}

.main-page-32-message1-div div {
    padding-left: 15px
}

.main-page-32-message1-div {
    font-family: Noto Sans KR;
    font-size: 42px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: -4.5px;
    text-align: left;
    color: #333
}

.page-32-sd-first {
    margin-top: 40px;
    margin-left: 0
}

.page-32-sd-second {
    margin-top: 40px
}

.page-32-sd-third {
    margin-top: 40px
}

.page-32-sd-forth {
    margin-top: 40px
}

.main-page-32-message2-div span {
    font-family: Noto Sans KR;
    font-size: 17px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -1.2px;
    text-align: center;
    color: #aaa;
    cursor: pointer
}

.main-page-32-message2-div .page-32-s1 {
    color: #333;
    margin-left: 0
}

.page-32-sd-first .bar-div {
    width: 100%;
    height: 4px;
    background-color: #ffaa34;
    margin-top: 10px
}

.page-32-sd-second .bar-div {
    width: 100%;
    height: 4px;
    background-color: #ffaa34;
    margin-top: 10px;
    display: none
}

.page-32-sd-third .bar-div {
    width: 100%;
    height: 4px;
    background-color: #ffaa34;
    margin-top: 10px;
    display: none
}

.page-32-sd-forth .bar-div {
    width: 100%;
    height: 4px;
    background-color: #ffaa34;
    margin-top: 10px;
    display: none
}

.main-page-32-des-div {
    margin-top: 32px;
    font-family: Noto Sans KR;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -.9px;
    text-align: center;
    color: #333
}

.main-page4 {
    height: 700px
}

.main-page-41 {
    justify-content: center
}

.main-page-41 .main-page-41-dear-div {
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -1.2px;
    text-align: center;
    color: #8219ff
}

.main-page-41 .main-page-41-big-span-div {
    font-family: Noto Sans KR;
    font-size: 42px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -4.5px;
    text-align: center;
    color: #333
}

.main-page-41 .main-page-41-detail-div {
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -1.2px;
    text-align: center;
    color: #333;
    margin-top: 32px
}

.main-page-42-img-div {
    width: 160px;
    height: 160px
}

.main-page-42-img-div img {
    width: 100%;
    height: 100%
}

.main-page-42-des-div {
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -.9px;
    text-align: center;
    color: #333;
    margin-top: 12px
}

.main-page-42-sub-title-div {
    font-family: Noto Sans KR;
    font-size: 30px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -2px;
    text-align: center;
    color: #8219ff;
    margin-top: 22px
}

.main-page-42-1 {
    justify-content: center
}

.main-page-5-col-box {
    height: 706px
}

.div-51-img-div {
    margin-left: 10.2% !important;
    max-width: 206.3px;
    max-height: 416.8px;
    margin-top: 12.6%;
    width: 100%;
    z-index: 4;
    height: 100%
}

.div-51-img-div img {
    width: 100%;
    height: auto
}

.swiper2 {
    height: 100%
}

.page-5-phone-cover {
    position: absolute;
    max-width: 362.8px;
    max-height: 706px;
    width: 100%;
    height: 100%;
    z-index: 30
}

.page-5-phone-cover img {
    width: 100%;
    height: auto
}

.phone-cover {
    height: 100%;
    width: 100%;
    z-index: 10
}

.te1 {
    position: absolute;
    top: 0;
    margin-left: 48%
}

.swiper4 img {
    width: 100%;
    height: 100%;
    z-index: 3
}

.div-51-img-div img {
    width: 100%;
    height: 100%;
    z-index: 4
}

.main-page5 {
    overflow: visible
}

.main-page-52-dear-div {
    margin-top: 57px;
    margin-bottom: 10px;
    font-family: Noto Sans KR;
    font-size: 24px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -1.2px;
    text-align: center;
    color: #8219ff;
    display: flex;
    justify-content: left
}

.main-page-52-dear-div div {
    padding-left: 19px
}

.main-page-52-message1-div div {
    padding-left: 15px
}

.main-page-52-message1-div {
    font-family: Noto Sans KR;
    font-size: 40px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: -4.5px;
    text-align: left;
    color: #333
}

.page-52-sd-first {
    margin-top: 40px;
    margin-left: 0
}

.page-52-sd-second {
    margin-top: 40px
}

.page-52-sd-third {
    margin-top: 40px
}

.main-page-52-message2-div span {
    font-family: Noto Sans KR;
    font-size: 19px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -1.2px;
    text-align: center;
    color: #aaa;
    cursor: pointer
}

.main-page-52-message2-div .page-52-s1 {
    margin-left: 0;
    white-space: pre
}

.main-page-52-message2-div .page-52-s3 {
    color: #333
}

.page-52-sd-first .bar-div {
    width: 100%;
    height: 4px;
    background-color: #8219ff;
    margin-top: 10px;
    display: none
}

.page-52-sd-second .bar-div {
    width: 100%;
    height: 4px;
    background-color: #8219ff;
    margin-top: 10px;
    display: none
}

.page-52-sd-third .bar-div {
    width: 100%;
    height: 4px;
    background-color: #8219ff;
    margin-top: 10px
}

.main-page-52-des-div {
    margin-top: 32px;
    font-family: Noto Sans KR;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -.9px;
    text-align: center;
    color: #333
}

.page-sixth {
    background-color: #f1eff0
}

.main-page6 {
    height: 730px
}

.main-page-61 {
    justify-content: center
}

.main-page-61 .main-page-61-dear-div {
    font-family: Noto Sans KR;
    font-size: 24px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -1.2px;
    text-align: center;
    color: #8219ff;
    margin-top: 56px
}

.main-page-61 .des-div .main-page-61-big-span-div {
    font-family: Noto Sans KR;
    margin-top: 10px;
    font-size: 42px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -4.5px;
    text-align: center;
    color: #333;
    line-height: 1.27
}

.main-page-61 .des-div .main-page-61-detail-div {
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -.9px;
    text-align: center;
    color: #333;
    margin-top: 40px
}

.main-page-61-img-div {
    margin-top: 50px
}

.main-page-61-img-div img {
    width: 100%;
    height: auto
}

.page-seventh {
    background-color: #fff
}

.main-page-72 br {
    display: none
}

.main-page7 {
    height: 590px
}

.main-page-71 {
    justify-content: left
}

.main-page-71-img-div {
    margin-top: 69px;
    width: 60px;
    height: 60px
}

.main-page-71-img-div img {
    width: 100%;
    height: 100%
}

.main-page-72 {
    font-family: Noto Sans KR;
    font-size: 42px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: -4.5px;
    text-align: center;
    color: #333;
    margin-top: 10px;
    justify-content: left
}

.page-eighth {
    width: 100%;
    height: 409px;
    background: url(/public/images/mainpage/sub_bg수정.png);
    background-size: cover;
    background-position: center
}

.main-page8 {
    height: 100%
}

.main-page-81 div {
    height: 165px;
    margin-top: 92px
}

.main-page-81 span {
    font-family: Noto Sans KR;
    font-size: 42px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: -4.5px;
    text-align: center;
    color: #fff
}

.main-page-82 {
    margin-top: -3px
}

.main-page-82 img {
    width: 213px;
    height: 60px
}

.footer {
    width: 100%;
    height: 268px;
    background-color: #2c3948
}

.footer .footer-1 {
    height: 100%
}

.footer-first-logo {
    margin-top: 82px;
    height: 23px;
    width: 185px
}

.footer-first-logo img {
    width: 100%;
    height: 100%
}

.footer-logo-div {
    justify-content: space-around
}

.footer-second-logo {
    margin-top: 79px;
    width: 111.2px;
    height: 26.5px
}

.footer-second-logo img {
    width: 100%;
    height: 100%
}

.footer-inc-div {
    height: 28px;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -.7px;
    text-align: center;
    color: #fff;
    margin-top: 48.5px
}

.footer-des-span-div {
    height: 92px;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: -.7px;
    text-align: center;
    color: #fff;
    margin-top: 82px
}

.main-page-73 {
    margin-top: 64px;
    padding: 0;
    display: flex
}

.card-item {
    height: 124px;
    width: 339px
}

.card-item-div {
    padding: 24px;
    margin-left: 24px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .16)
}

.card-item-span-div {
    height: 108px;
    font-family: Noto Sans KR;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -1.2px;
    text-align: center;
    color: #333
}

.card-item-low-div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 64px;
    flex-wrap: wrap
}

.card-item-low-div .card-item-id {
    font-family: Noto Sans KR;
    font-size: 22px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -1.2px;
    text-align: center;
    color: #333;
    height: 28px
}

.card-item-img {
    width: 54px;
    height: 54px
}

.card-item-img img {
    width: 100%;
    height: 100%
}

#mobile-down {
    display: none
}

.main-page-3 .main-page-image {
    justify-content: space-between !important
}

.main-page-image img:nth-child(1) {
    margin-right: 0
}

.main-page-73 {
    height: 250px
}

.text-ani-1,
.text-ani-2,
.text-ani-3,
.text-ani-4 {
    animation-name: textFade;
    animation-iteration-count: 1;
    animation-duration: .8s;
    animation-fill-mode: forwards
}

.text-ani-2 {
    animation-delay: .15s
}

.text-ani-3 {
    animation-delay: .25s
}

.text-ani-4 {
    animation-delay: .3s
}

@keyframes textFade {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translateY(30px)
    }

    100% {
        opacity: 1;
        visibility: visible
    }
}

.youtube {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%
}

.youtube iframe {
    position: absolute;
    width: 100%;
    height: 100%
}

.grtyoutube-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999
}

.grtyoutube-popup-content {
    margin-top: 150px;
    width: 95%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    position: relative
}

.grtyoutube-popup-close {
    position: absolute;
    top: -30px;
    right: 0;
    color: #fff;
    font-size: 25px;
    width: 17px;
    height: 17px;
    cursor: pointer
}

.grtyoutube-iframe {
    width: 100%;
    height: 480px
}

.grtyoutube-dark-theme {
    background: rgba(0, 0, 0, .85)
}

.grtyoutube-dark-theme .grtyoutube-popup-content {
    -webkit-box-shadow: 0 0 8px 0 rgba(255, 255, 255, .4);
    -moz-box-shadow: 0 0 8px 0 rgba(255, 255, 255, .4);
    box-shadow: 0 0 8px 0 rgba(255, 255, 255, .4)
}

.grtyoutube-dark-theme .grtyoutube-popup-close {
    background: url(icon-close-white.png) no-repeat
}

.grtyoutube-light-theme {
    background: rgba(255, 255, 255, .85)
}

.grtyoutube-light-theme .grtyoutube-popup-content {
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .4)
}

.grtyoutube-light-theme .grtyoutube-popup-close {
    background: url(icon-close-black.png) no-repeat
}

.youtube-thumb-image {
    object-fit: cover
}

.youtube_buttons {
    width: 50px !important;
    height: 50px
}

#quote_page_top {
    margin-top: 20px !important
}

.section_quote .quote_hover:hover,
.section_quote .table:hover {
    box-shadow: 0 1px 20px #555;
    z-index: 99;
    border-radius: inherit;
    cursor: default
}

.quote_table_div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    border-radius: 12px
}

.quote_table_div_percent,
.quote_table_div_today,
.quote_table_div_world1,
.quote_table_div_world2 {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2)
}

.kospi_div {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
    border-radius: 12px;
    margin-left: 15px;
    margin-right: 15px;
    flex: 1
}

.quote_table_div table {
    margin-right: 1px !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important
}

.quote_table_div table thead {
    background-color: rgb(255, 170, 52, .85)
}

.quote_table_div table tr {
    height: fit-content
}

.quote_table_div table td {
    padding: 10px 5px;
    vertical-align: middle
}

.quote_table_div table thead tr th {
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 400;
    font-size: 14px;
    color: #333
}

.kospi_div table:nth-child(1) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important
}

.kospi_div table:nth-child(3) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important
}

.kospi_div table:nth-child(2) {
    border-radius: 0 !important
}

.quote_table_div table:nth-child(1) thead tr th {
    border-top-left-radius: 12px
}

.quote_table_div thead tr th {
    padding-top: 6px !important;
    padding-bottom: 6px !important
}

.quote_table_div_today table tbody tr td {
    padding-top: 7px !important;
    padding-bottom: 7px !important
}

.quote_table_div table:nth-child(1) tbody tr:nth-last-child(1) td {
    border-bottom-left-radius: 12px
}

.quote_table_div table:nth-last-child(1) thead tr th {
    border-top-right-radius: 12px
}

.quote_table_div table:nth-last-child(1) tbody tr:nth-last-child(1) td {
    border-bottom-right-radius: 12px
}

.quote_table_div table:nth-last-child(1) {
    margin-right: 0 !important
}

.dynamic-padding-div1 {
    padding-right: 50px !important
}

.dynamic-padding-div2 {
    padding-left: 50px !important
}

.quote_table_div table {
    flex: 1
}

.quote_table_div_percent table {
    flex: 1
}

.gold_quote table thead th {
    background-color: rgb(252, 220, 150, .85)
}

.silver_quote table thead th {
    background-color: #ccc
}

.quote_table_div table tbody {
    font-size: 14px;
    color: #666
}

.quote_table_div table:nth-child(odd) tbody {
    background-color: #f4f6fd
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-bottom: unset;
    border-top: unset;
    border-radius: 10px
}

.section_quote table tbody tr:nth-child(1) td,
.table thead th {
    border-bottom: none !important;
    border-top: none !important
}

#aa,
#bb,
#cc,
#dd,
#ee,
#ff,
#gg,
#hh {
    color: #999
}

.quote_table_div_world1 {
    margin-top: 13px
}

.quote_table_div_world2 {
    margin-top: 22px
}

.quote_table_div_world2 table {
    margin-bottom: 0
}

.gram_12px {
    font-size: 12px !important
}

@media (max-width:1199px) {
    .kospi_div {
        width: 100%;
        flex: auto;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 15px
    }

    #etcprice,
    #worldoil {
        margin-left: 0 !important
    }

    #etcprice div:nth-child(1),
    #worldoil div:nth-child(1) {
        padding-left: 0 !important
    }

    .main-page-22-img-div,
    .main-page-42-img-div {
        width: 130px;
        height: 130px
    }

    .main-page-1 span {
        font-size: 36px
    }

    .main-page-3 .main-page-image {
        margin-top: 60px
    }

    .page-top {
        height: 500px
    }

    .main-page-1 div {
        padding-left: 30px !important
    }

    .main-page-2 div {
        padding-left: 30px !important
    }

    .main-page-3 .main-page-image {
        padding-left: 30px !important
    }

    .main-page-21 .main-page-21-detail-div {
        margin-top: 12px
    }

    .main-page-22 {
        margin-top: 6.9% !important
    }

    .main-page-22-des-div {
        white-space: pre
    }

    .main-page2 {
        height: 620px
    }

    .page-3-empty-div {
        height: 0 !important
    }

    .main-page-3-col-box {
        display: flex;
        justify-content: center
    }

    .main-page-32-dear-div {
        display: flex;
        justify-content: center
    }

    .main-page-32-message2-div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        white-space: pre
    }

    .main-page-32-message2-div span {
        font-size: 17px
    }

    .main-page-32 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        padding-left: 0;
        padding-right: 52px !important
    }

    .main-page-32-message1-div {
        display: flex;
        justify-content: center;
        margin-top: 0;
        font-size: 42px;
        text-align: center
    }

    .main-page-32-des-div {
        margin-top: 25px;
        margin-bottom: -6px;
        text-align: center
    }

    .div-31-img-div {
        max-width: 287.3px
    }

    .page-32-sd-first,
    .page-32-sd-forth,
    .page-32-sd-second,
    .page-32-sd-third {
        margin-top: 23px
    }

    .phone-cover-3 {
        margin-top: 40px;
        display: flex;
        justify-content: center
    }

    .main-page-31 {
        min-height: 706px;
        max-height: 706px
    }

    .div-31-img-div {
        margin-left: .4% !important;
        margin-top: 4.9%
    }

    .te2 {
        width: 347px;
        margin-left: 0
    }

    .te2 img {
        width: 100%;
        height: auto
    }

    .swiper5 {
        width: 100%;
        height: 100%
    }

    .main-page-22-sub-title-div {
        font-size: 30px;
        margin-top: 7px
    }

    .main-page-image {
        justify-content: flex-start !important
    }

    .main-page-image img:nth-child(1) {
        margin-right: 40px
    }

    .main-page4 {
        height: 620px
    }

    .main-page-42 {
        margin-top: 6.9% !important
    }

    .main-page-41 .main-page-41-detail-div {
        margin-top: 17px
    }

    .main-page-42-sub-title-div {
        font-size: 30px;
        margin-top: 7px
    }

    .main-page-52-dear-div {
        margin-top: 48px;
        margin-bottom: 0
    }

    .page-5-empty-div {
        height: 0 !important
    }

    .main-page-5-col-box {
        display: flex;
        justify-content: center
    }

    .main-page-52-dear-div {
        display: flex;
        justify-content: center
    }

    .main-page-52-message2-div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center
    }

    .main-page-52-message2-div span {
        font-size: 17px
    }

    .main-page-52 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center
    }

    .main-page-52-message1-div {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        font-size: 42px;
        text-align: center
    }

    .main-page-52-des-div {
        margin-top: 22px;
        margin-bottom: -11px;
        text-align: center
    }

    .page-52-sd-first,
    .page-52-sd-second,
    .page-52-sd-third {
        margin-top: 25px
    }

    .phone-cover {
        margin-top: 40px;
        display: flex;
        justify-content: center
    }

    .main-page-51 {
        min-height: 706px;
        max-height: 706px
    }

    .div-51-img-div {
        margin-left: .4% !important;
        margin-top: 47px;
        max-width: 286.3px
    }

    .te1 {
        width: 347px;
        margin-left: 59%
    }

    .te1 img {
        width: 100%;
        height: auto
    }

    .swiper4 {
        width: 100%;
        height: 100%
    }

    .main-page-61 .des-div .main-page-61-detail-div {
        margin-top: 28px
    }

    .main-page6 {
        height: 750px
    }

    .youtube_buttons {
        width: 20%
    }

    .quote_table_div_world2 {
        margin-top: 48px
    }

    #banner {
        height: 359px !important
    }

    .carousel-item img {
        height: 300px
    }

    .quote_table_div {
        font-size: 12px
    }

    .quote_table_div table {
        flex: 1
    }

    .quote_table_div_percent table {
        flex: 1
    }

    .dynamic-padding-div1 {
        padding-right: 20px !important
    }

    .dynamic-padding-div2 {
        padding-left: 20px !important
    }

    .quote_table_div_today {
        margin-bottom: 0
    }

    .kospi_div {
        padding-right: 5px;
        padding-left: 5px
    }

    .quote_table_div table tbody {
        font-size: 15px
    }

    .stock_quote table tbody {
        font-size: 12px
    }
}

@media (max-width:991px) {

    .main-page-1 div,
    .main-page-2 div,
    .main-page-3 .main-page-image {
        padding-left: 60px !important
    }

    .main-page-81 span {
        letter-spacing: -5.5px
    }

    .main-page-22 {
        flex-wrap: wrap;
        margin-top: 4.9% !important
    }

    .main-page-22-3,
    .main-page-22-4 {
        margin-top: 45px
    }

    .page-second {
        height: 920px
    }

    .div-31-img-div {
        margin-top: 6.9% !important
    }

    .page-32-sd-first,
    .page-32-sd-forth,
    .page-32-sd-second,
    .page-32-sd-third {
        margin-left: 0
    }

    .main-page-42 {
        flex-wrap: wrap;
        margin-top: 4.9% !important
    }

    .main-page-42-3,
    .main-page-42-4 {
        margin-top: 45px
    }

    .page-forth {
        height: 870px
    }

    .div-51-img-div img {
        object-fit: cover
    }

    .card-item-span-div {
        font-size: 14px
    }

    .card-item-low-div .card-item-id {
        font-size: 19px
    }

    .card-item-img {
        width: 48px;
        height: 48px
    }

    .page-52-sd-first,
    .page-52-sd-second,
    .page-52-sd-third {
        margin-left: 0
    }

    .footer {
        height: 350px
    }

    .footer-des-span-div {
        margin-top: 32px
    }

    .quote_table_div_world2 {
        margin-top: 10px
    }

    #banner {
        height: 310px !important
    }

    .carousel-item img {
        height: 250px
    }

    .quote_table_div_percent table {
        flex: 1
    }

    .dynamic-padding-div1 {
        padding-right: 0 !important
    }

    .dynamic-padding-div2 {
        padding-left: 0 !important
    }

    .section_quote {
        max-width: 100% !important
    }

    .stock_quote {
        height: fit-content
    }
}

@media (max-width:767px) {
    .section_quote {
        margin-top: 20px !important
    }

    .navbar .logo {
        height: 16px
    }

    .navbar .navbar-toggler {
        padding: 4px;
        border: none
    }

    .navbar .navbar-toggler-icon {
        width: 24px;
        height: 24px;
        background-image: url(/public/images/mainpage/햄버거.png)
    }

    .navbar .navbar-nav {
        text-align: center;
        font-size: 14px
    }

    .navbar .navbar-nav .nav-item:last-child::after {
        content: none
    }

    .navbar .navbar-nav .nav-link {
        padding: 16px 0
    }

    .quote_table_div_percent table tbody tr td,
    .quote_table_div_percent table thead tr th {
        border-radius: 0 !important
    }

    .quote_table_div_percent table:nth-child(1) thead tr th {
        border-top-left-radius: 12px !important
    }

    .quote_table_div_percent table:nth-child(4) thead tr th {
        border-top-right-radius: 12px !important
    }

    .quote_table_div_percent table:nth-child(5) tbody tr:nth-last-child(1) td {
        border-bottom-left-radius: 12px !important
    }

    .quote_table_div_percent table:nth-last-child(1) tbody tr:nth-last-child(1) td {
        border-bottom-right-radius: 12px !important
    }

    .quote_table_div_percent table {
        flex-basis: 23% !important
    }

    .main-page-1 div,
    .main-page-2 div,
    .main-page-3 .main-page-image {
        padding-left: 0 !important
    }

    .main-page-1 div {
        margin-top: 24px
    }

    .main-page-2 div {
        margin-top: 5px
    }

    .main-page-22-3,
    .main-page-22-4 {
        margin-top: 32px
    }

    .page-second {
        height: 870px
    }

    .main-page-32-dear-div {
        font-size: 22px
    }

    .main-page-32-message1-div {
        font-size: 36px
    }

    .footer {
        height: 386px
    }

    #mobile-down {
        display: block
    }

    .buyer-guide {
        background-color: #ffaa34;
        box-shadow: 0 5px 10px 0 rgba(0, 114, 128, .3)
    }

    .download-btn {
        position: fixed;
        z-index: 2000;
        box-sizing: border-box;
        height: 60px;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        text-decoration-line: none;
        border: transparent;
        border-radius: 2px;
        transition: All .3s ease;
        -webkit-transition: All .3s ease;
        -moz-transition: All .3s ease;
        -o-transition: All .3s ease
    }

    .btn-down {
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%
    }

    .div-31-img-div {
        margin-top: 7.5% !important
    }

    .te2 {
        margin-left: -60px
    }

    .page-eighth {
        height: 600px;
        background: url(/public/images/mainpage/page8_bg수정.png);
        background-size: cover;
        background-position: center
    }

    .page-top {
        background: url(/public/images/mainpage/main_bg_768수정.png);
        background-size: cover;
        background-position: center
    }

    .main-page-1 {
        text-align: center;
        padding-left: 0;
        padding-right: 0
    }

    .main-page-1 span {
        color: #fff
    }

    .main-page-2 {
        text-align: center;
        margin-top: 10px
    }

    .main-page-2 span {
        color: #fff
    }

    .main-page-3 {
        display: none !important
    }

    .main-page-81 {
        justify-content: center;
        text-align: center
    }

    .main-page-81 div {
        margin-top: 50px;
        height: 134px
    }

    .main-page-82 {
        margin-top: 5px;
        justify-content: space-around
    }

    .main-page-61-img-div {
        width: 100%;
        height: 100%
    }

    .main-page-image img:nth-child(1) {
        margin-right: 20px
    }

    .main-page-3 .main-page-image img {
        width: 180px
    }

    .grtyoutube-iframe {
        width: 100%;
        height: 350px
    }
}

@media (max-width :575px) {
    ._title span {
        letter-spacing: -2.5px !important;
        font-size: 28px !important
    }

    .my-navbar-container-div {
        margin-left: 24px !important;
        margin-right: 24px !important
    }

    .main-page-1-title-div {
        margin-top: 38px !important
    }

    .main-page-2 span {
        font-size: 16px !important
    }

    .page-top {
        height: 575px !important
    }

    .main-page-21 .main-page-21-dear-div {
        font-size: 16px !important
    }

    .main-page-21 .main-page-21-dear-div {
        font-size: 16px !important
    }

    .main-page-21 .main-page-21-big-span {
        font-size: 30px !important
    }

    .main-page-21 .main-page-21-detail-div,
    .main-page-41 .main-page-41-detail-div {
        font-size: 13px;
        margin-top: 4px
    }

    .main-page-21-des-div,
    .main-page-41-margin-top-div {
        margin-top: 22px !important;
        padding-left: 0;
        padding-right: 0
    }

    .main-page-22-sub-title-div {
        font-size: 30px !important
    }

    .main-page-22 {
        margin-top: 12px !important
    }

    .main-page-22-1,
    .main-page-22-2,
    .main-page-22-3,
    .main-page-22-4,
    .main-page-42-1,
    .main-page-42-2,
    .main-page-42-3,
    .main-page-42-4 {
        margin-top: 32px !important;
        margin-bottom: 0 !important
    }

    .main-page-22-des-div,
    .main-page-42-des-div {
        font-size: 12px;
        margin-top: 12px
    }

    .main-page-22-sub-title-div span,
    .main-page-42-sub-title-div span {
        font-size: 24px !important
    }

    .main-page-22-sub-title-div,
    .main-page-42-sub-title-div {
        margin-top: -5px
    }

    .main-page-22-img-div,
    .main-page-42-img-div {
        width: 100px !important;
        height: 100px !important
    }

    .page-forth,
    .page-second {
        height: 650px !important
    }

    .page-fifth,
    .page-third {
        max-height: 650px
    }

    .main-page-32,
    .main-page-32-dear-div,
    .main-page-32-dear-div div,
    .main-page-32-height-div,
    .main-page-32-message1-div,
    .main-page-32-message1-div div {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .main-page-32-dear-div,
    .main-page-52-dear-div,
    .main-page-61 .main-page-61-dear-div {
        margin-top: 32px !important;
        font-size: 16px !important
    }

    .main-page-32-message1-div,
    .main-page-52-message1-div {
        font-size: 30px !important
    }

    .main-page-32-des-div,
    .main-page-52-des-div,
    .main-page-61-detail-div {
        font-size: 14px !important;
        margin-top: 15px !important;
        margin-right: 15px !important
    }

    .main-page-61-detail-div {
        margin-right: 0 !important
    }

    .page-32-sd span,
    .page-52-sd span {
        font-size: 14px
    }

    .main-page-32-des-div-br {
        display: none !important
    }

    .page-32-sd-first,
    .page-32-sd-forth,
    .page-32-sd-second,
    .page-32-sd-third {
        padding-right: 3px !important;
        padding-left: 0 !important;
        margin-top: 20px !important
    }

    .page-52-sd-first,
    .page-52-sd-second,
    .page-52-sd-third {
        margin-top: 20px !important
    }

    .page-32-sd-br {
        display: block !important
    }

    .page-32-sd-blank-span {
        display: none !important
    }

    .bar-div {
        margin-top: 2px !important;
        margin-left: auto;
        margin-right: auto
    }

    .page-32-d1.bar-div,
    .page-32-d3.bar-div {
        width: 67px !important
    }

    .page-32-d2.bar-div,
    .page-32-d4.bar-div {
        width: 54px !important
    }

    .page-52-d1.bar-div {
        width: 83px !important
    }

    .page-52-d2.bar-div,
    .page-52-d3.bar-div {
        width: 67px !important
    }

    .div-31-img-div {
        max-width: 203px !important;
        max-height: 444px !important;
        margin-top: 32.5px !important;
        margin-left: 1.1px !important
    }

    .div-51-img-div {
        max-width: 203px !important;
        max-height: 410px !important;
        margin-top: 32.5px !important;
        margin-left: 1.1px !important
    }

    .page-3-phone-cover,
    .page-5-phone-cover {
        max-width: 253.9px !important
    }

    .main-page-32-des-div {
        margin-bottom: 0 !important;
        margin-right: 15px !important
    }

    .phone-cover,
    .phone-cover-3 {
        margin-top: 27px !important
    }

    .main-page3,
    .main-page5 {
        height: 875px !important
    }

    .main-page-32-height-div,
    .main-page-52-height-div {
        height: 248px
    }

    .main-page-32-message1-div {
        margin-top: 0
    }

    .main-page-41 .main-page-41-dear-div {
        font-size: 16px
    }

    .main-page-41 .main-page-41-big-span-div {
        font-size: 30px
    }

    .main-page-42 {
        margin-top: 0 !important
    }

    .main-page-52,
    .main-page-52-dear-div,
    .main-page-52-dear-div div,
    .main-page-52-height-div,
    .main-page-52-message1-div,
    .main-page-52-message1-div div {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .main-page-52-des-div br {
        display: none !important
    }

    #main-page-52-des-div-blank {
        display: inline-block !important
    }

    .main-page-61-big-span-div span {
        font-size: 29px !important
    }

    .main-page-61 .des-div .main-page-61-big-span-div {
        font-size: 29px;
        letter-spacing: -6.5px;
        height: 70px;
        white-space: pre
    }

    .main-page6 {
        height: 500px
    }

    .main-page-61 {
        padding-right: 0;
        padding-left: 0
    }

    .des-div {
        padding-right: 0;
        padding-left: 0
    }

    .main-page-61-img-div {
        margin-top: 30px
    }

    .main-page-71 {
        justify-content: center
    }

    .main-page-71-img-div {
        margin-top: 35px
    }

    .main-page-72 {
        justify-content: center
    }

    .main-page-73 {
        margin-top: 23px
    }

    .card-item {
        width: 280px !important;
        height: 200px !important
    }

    .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
        -o-transition-timing-function: linear !important;
        transition-timing-function: linear !important
    }

    .main-page-81 {
        height: 140px
    }

    .google1-div {
        margin-right: 15px
    }

    .app1-div,
    .google1-div {
        width: 160px
    }

    .page-eighth {
        height: 433px
    }

    .main-page-82 img {
        width: 100%;
        height: auto
    }

    .main-content {
        margin-top: 59px
    }

    .main-page7 {
        height: 470px
    }

    .footer {
        height: 430px
    }

    #mobile_mt15mb15div {
        margin-top: 15px;
        margin-bottom: 15px
    }

    .main-page-81 div {
        margin-top: 45px
    }

    .main-page-82 {
        margin-left: 0 !important
    }

    .footer-img-div {
        max-width: 80%;
        margin-right: auto;
        margin-left: auto
    }

    .footer-first-logo {
        margin-top: 54px;
        height: 21px;
        width: 140px
    }

    .footer-second-logo {
        margin-top: 53px;
        width: 85.2px;
        height: 18.5px;
        margin-left: 0 !important
    }

    .footer-logo-div {
        justify-content: space-between
    }

    #swiper_container,
    .main-content .container {
        max-width: 80%
    }

    #youtube_thumb_image_1_div,
    #youtube_thumb_image_2_div,
    #youtube_thumb_image_3_div {
        min-width: 200px !important
    }

    .quote_table_div table tbody {
        font-size: 13px
    }

    .quote_hover {
        font-size: 13px
    }

    .quote_table_div_percent table {
        flex: 1
    }

    #quote_page_top {
        margin-top: 0 !important
    }

    .mobile_17px {
        font-size: 17px !important
    }

    #aa,
    #bb,
    #cc,
    #dd,
    #ee,
    #ff,
    #gg,
    #hh {
        font-size: 11px !important
    }

    .moblie_blind {
        display: none
    }

    .gram_12px {
        font-size: 10px !important
    }
}

@media (max-width:400px) {
    .quote_table_div table {
        flex: 1
    }

    .quote_name_table {
        white-space: pre
    }

    .quote_hover {
        font-size: 13px
    }
}

@media(min-width:768px) and (max-width :991px) {

    #swiper_container,
    .main-content .container {
        max-width: 660px
    }

    #youtube_thumb_image_1_div,
    #youtube_thumb_image_2_div,
    #youtube_thumb_image_3_div {
        min-width: 200px !important
    }
}

@media(min-width:992px) and (max-width:1199px) {

    #swiper_container,
    .main-content .container {
        max-width: 720px
    }

    #youtube_thumb_image_1_div,
    #youtube_thumb_image_2_div,
    #youtube_thumb_image_3_div {
        min-width: 200px !important
    }
}

@media (min-width:992px) {

    .main-page-22-1,
    .main-page-22-3,
    .main-page-42-1,
    .main-page-42-3 {
        padding-left: 15px !important
    }

    .main-page-22-2,
    .main-page-22-4,
    .main-page-42-2,
    .main-page-42-4 {
        padding-right: 15px !important
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1200px
    }

    #swiper_container,
    .main-content .container {
        max-width: 800px
    }

    #youtube_thumb_image_1_div,
    #youtube_thumb_image_2_div,
    #youtube_thumb_image_3_div {
        min-width: 200px !important
    }
}

@media(min-width:1600px) {
    .container {
        max-width: 1200px
    }

    #swiper_container,
    .main-content .container {
        max-width: 800px
    }
}

.upcolor {
    animation: colorchangeup .7s linear 0s;
    -webkit-animation: colorchangeup .7s linear 0s
}

.dowbcolor {
    animation: colorchangedown .7s linear 0s;
    -webkit-animation: colorchangedown .7s linear 0s
}

@keyframes colorchangeup {
    0% {
        background: #fff
    }

    50% {
        background: pink
    }

    100% {
        background: #fff
    }
}

@keyframes colorchangedown {
    0% {
        background: #fff
    }

    50% {
        background: #6a6af0
    }

    100% {
        background: #fff
    }
}

@-webkit-keyframes colorchangeup {
    0% {
        background: #fff
    }

    50% {
        background: pink
    }

    100% {
        background: #fff
    }
}

@-webkit-keyframes colorchangedown {
    0% {
        background: #fff
    }

    50% {
        background: #00f
    }

    100% {
        background: #fff
    }
}