@charset "utf-8";

/*  매입등록  */

#cal{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
}


.purchaseSaveBox{
    margin-top: 100px;
    margin-bottom: 20px;
}


.purchaseSaveSmBox1{
    margin-bottom: 48px;

}

.orderName{
    position: relative;
    display: flex;
    font-size: 26px;
    font-weight: 700;
}


.icInfoOutline{
    position: absolute;
    top: 0;
    left: 115px;
    width: 16px;
    height: 16px;
}
.icInfoOutline img{
    width: 100%;
}

.imgOrderBox{
    display: flex;
    justify-content: center;

}

.mntitArrow{
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url("../../images/ic-arrow-forward-24-px@3x.png") no-repeat center/cover;
}

.dunglogeel{
    margin: 0 auto;
    display: flex;
    width: 80%;
}
.calinder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 30px;
    border: 1px solid rgba(153, 153, 153, 0.6);
    border-right: none;
    border-radius: 5px 0 0 5px;
}
.calData{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30px;
    border: 1px solid rgba(153, 153, 153, 0.6);
    border-radius: 0 5px 5px 0;
    
}


.maipcher{
    margin: 0 auto;
    position: relative;
    width: 80%;
}

.maipcher input{
    padding-left: 15px;
    width: 100%;
    height: 30px;
    border: 1px solid rgba(153, 153, 153, 0.7);
    border-radius: 5px;

}

.secbtn{
    position:absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border: none;
    outline: none;
    background: #fff url("../../images/ic-zoom-in-24-px@3x.png") no-repeat center/ cover;
    border-radius: 5px;
}


.purchaseBtnBox{
    display: flex;
    justify-content: flex-end;
}


#purchaseBtn{
    width: 200px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: #ffaa34;
    box-shadow: 1px 1px 2px 0 rgba(153, 153, 153, 0.6);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.purchaseSaveTable1{
    width: 100%;
    border: 1px solid rgba(153, 153, 153, 0.6);
    font-size: 14px;
    font-weight: 500;
    
}   

.purchaseSaveTable2{
    width: 100%;
    border: 1px solid rgba(153, 153, 153, 0.6);
    font-size: 12px;
    font-weight: 500;
}

.purchaseSaveTable1 tr{
    height: 65px
}
.purchaseSaveTable1 tr td:first-child{
    background-color: #f1f5f7;
}

.purchaseSaveTable2 tr{
    height: 26px;
}

.purchaseSaveTable2 td{
    border: 1px solid rgba(153, 153, 153, 0.6);
}

.purchaseSaveTable2 tr:first-child,
.purchaseSaveTable2 tr:first-child td:first-child{
    background-color: #f1f5f7;
}

.purchaseSaveTable2 tr:nth-child(2) {
    background-color: #fdebec;
}
.purchaseSaveTable2 tr:nth-child(3) {
    background-color: #f1f5f7;
}
.purchaseSaveTable2 tr:nth-child(4) {
    background-color: #ebfaeb;
}
.purchaseSaveTable2 tr:nth-child(5) {
    background-color: #fdebec;
}

.purchaseSaveTable2 tr td:first-child{
    background-color: #fff;
}





/* 표 2 */

.purchaseSaveToBox table{
    width: 100%;
    min-width: 976px;
    font-size: 12px;
}

.purchaseSaveToBox thead{
    background-color: #f1f5f7;
}

.purchaseSaveToBox th{
    height: 26px;
    border: 1px solid rgba(153, 153, 153, 0.6);
}
.purchaseSaveToBox td{
    height: 35px;
    border: 1px solid rgba(153, 153, 153, 0.6);
}

.purchaseSaveToBox td input{
    width: 90%;
    height: 80%;
    border: 1px solid rgba(153, 153, 153, 0.6);
    outline: none;
    border-radius: 3px;
}

.purchaseSaveToBox td select{
    padding-left: 5px;
    width: 90%;
    height: 80%;
    border: 1px solid rgba(153, 153, 153, 0.6);
    background: #fff url("../../images/ic_arrow_drop_down_24px.png") no-repeat 91% 50%;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    font-family: Noto sans KR;
    appearance: none;
}

.purchaseSaveToBox td select::-ms-expand {
    display: none;
}

.trsBTN{
    width: 18px;
    height: 23px;
    background: url("../../images/delete-img.png") no-repeat center/cover;
    border: none;
    outline: none;
}

.purchaseSaveToBox1{
    padding-bottom: 20px;
    width: 100%;
    overflow-x: none;
}

.pluseBox{
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
}

#plsbtn{
    width: 143px;
    height: 57px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #999;
    box-shadow: 1px 1px 2px 0 #999;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}


@media (max-width: 1200px) {
    
    
    
    .purchaseSaveToBox1{
        overflow-x: scroll;
    }


}