extends ../base2

block content 
    main    
        img(src="/" + loggedInUser.businesscard, alt="businesscardImg", width="100", height="100")
        if errorMessage
            span=errorMessage
        form(method="POST", enctype="multipart/form-data")
            if !loggedInUser.businesscard
                input(type="file", placeholder="클릭하여 명함/사업자등록증 사본을 보내주세요.", name="businesscard", required, id="businesscard", accept="image/*")
            input(value=loggedInUser.businessname, type="text", placeholder="클릭하여 상호명을 입력하여 주세요.", name="businessname", required)
            input(value=loggedInUser.contact, type="text", placeholder="클릭하여 연락처를 입력하여 주세요.", name="contact", required)
            input(type="submit" value="수정하기")