doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/static/plugin/bootstrap-4.4.1-dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/static/css/reset.css")
        link(rel="stylesheet", href="/static/css/login.css")
    body 
        if errorMessage
            span=errorMessage
        div(class="container", id="loginbox")
            form(method="POST")
                div(class="col-12")
                    div(class="row")
                        div(class="col-12")
                            div(id="logo")
                                img(src="../../../static/images/upstore_logo (1).png", alt="로고")
                    div(class="row idinput")
                        div(class="col-4 titlebx")
                            label(for="id") 아이디
                        div(class="col-8 inputtext") 
                            div(id="id-form", class="inputbox") 
                                input(id="id", type="id", name="username", autocomplete="off", placeholder="ID", required)
                    div(class="row idinput")
                        div(class="col-4 titlebx")
                            div(class="titbox")
                                label(for="password") 비밀번호
                        div(class="col-8 inputtext")
                            div(id="psw-form" class="inputbox")
                                input(id="password", name="password", type="password", placeholder="Password", required)
                    div(class="row")
                        div(class="col-12")
                            div(class="ckbox")
                                label(for="id_save", name="id_save") 아이디저장 
                                input(name="id_save", id="id_save", type="checkbox")
                                label(for="auto_login", name="auto_login") 자동로그인 
                                input(name="auto_login", id="auto_login", type="checkbox")
                    div(class="row")
                        div(class="col-12")
                            button(type="submit", id="submit") 로그인